/* Slideshow animations */
@-webkit-keyframes fadeInDown {
  /* line 3, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }

  /* line 4, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInDown {
  /* line 7, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-150px);
  }

  /* line 8, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInDown {
  /* line 11, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-150px);
  }

  /* line 12, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  /* line 15, ../sass/_animations.scss */
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  /* line 16, ../sass/_animations.scss */
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeOutUp {
  /* line 20, ../sass/_animations.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  /* line 21, ../sass/_animations.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }
}

@-moz-keyframes fadeOutUp {
  /* line 24, ../sass/_animations.scss */
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  /* line 25, ../sass/_animations.scss */
  100% {
    opacity: 0;
    -moz-transform: translateY(-150px);
  }
}

@-o-keyframes fadeOutUp {
  /* line 28, ../sass/_animations.scss */
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  /* line 29, ../sass/_animations.scss */
  100% {
    opacity: 0;
    -o-transform: translateY(-150px);
  }
}

@keyframes fadeOutUp {
  /* line 32, ../sass/_animations.scss */
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  /* line 33, ../sass/_animations.scss */
  100% {
    opacity: 0;
    transform: translateY(-150px);
  }
}

@-webkit-keyframes fadeIn {
  /* line 37, ../sass/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 38, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 41, ../sass/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 42, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  /* line 45, ../sass/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 46, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 49, ../sass/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 50, ../sass/_animations.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  /* line 54, ../sass/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 55, ../sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 58, ../sass/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 59, ../sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  /* line 62, ../sass/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 63, ../sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 66, ../sass/_animations.scss */
  0% {
    opacity: 1;
  }

  /* line 67, ../sass/_animations.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutRight {
  /* line 71, ../sass/_animations.scss */
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  /* line 72, ../sass/_animations.scss */
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@-moz-keyframes fadeOutRight {
  /* line 75, ../sass/_animations.scss */
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  /* line 76, ../sass/_animations.scss */
  100% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }
}

@-o-keyframes fadeOutRight {
  /* line 79, ../sass/_animations.scss */
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  /* line 80, ../sass/_animations.scss */
  100% {
    opacity: 0;
    -o-transform: translateX(20px);
  }
}

@keyframes fadeOutRight {
  /* line 83, ../sass/_animations.scss */
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  /* line 84, ../sass/_animations.scss */
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

/* Sliding slideshow content in from the right*/
@-webkit-keyframes fadeInRight {
  /* line 89, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }

  /* line 90, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInRight {
  /* line 93, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -moz-transform: translateX(20px);
  }

  /* line 94, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInRight {
  /* line 97, ../sass/_animations.scss */
  0% {
    opacity: 0;
    -o-transform: translateX(20px);
  }

  /* line 98, ../sass/_animations.scss */
  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

/* Carousel base class */
/* line 8, ../sass/carousel.scss */
.carousel, .imagenfondo {
  margin-bottom: 0px;
  overflow: hidden;
}
/* line 11, ../sass/carousel.scss */
.carousel .item, .imagenfondo .item {
  width: 100%;
  overflow: hidden;
}
/* line 14, ../sass/carousel.scss */
.carousel .item .itemContenedor, .imagenfondo .item .itemContenedor {
  margin-left: auto;
  margin-right: auto;
}
/* line 19, ../sass/carousel.scss */
.carousel .mascaraColor, .imagenfondo .mascaraColor {
  z-index: 2;
  top: 0px;
  left: 50%;
  position: absolute;
  height: 100%;
}
/* line 26, ../sass/carousel.scss */
.carousel .mascaraColorPhone, .imagenfondo .mascaraColorPhone {
  z-index: 2;
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
}
/* line 33, ../sass/carousel.scss */
.carousel .carousel-inner, .imagenfondo .carousel-inner {
  width: 100%;
}

/* line 38, ../sass/carousel.scss */
.imagenfondo {
  width: 100%;
  position: absolute;
  top: 50px;
  z-index: -100;
}

/* line 45, ../sass/carousel.scss */
section.cabecera {
  padding-bottom: 0px;
  height: 395px;
}

/* line 50, ../sass/carousel.scss */
.carousel-control {
  position: absolute;
  top: 40%;
  width: 50px;
  font-family: latohairline;
  line-height: 30px;
  color: white;
  text-align: center;
  background: #222;
  border: 3px solid white;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  background-image: none !important;
  border: 0;
  z-index: 10;
}
/* line 73, ../sass/carousel.scss */
.carousel-control.left, .carousel-control.right {
  background-color: transparent;
  background-image: none !important;
}

/* line 79, ../sass/carousel.scss */
.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 87, ../sass/carousel.scss */
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 94, ../sass/carousel.scss */
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

/* line 99, ../sass/carousel.scss */
.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

/* line 104, ../sass/carousel.scss */
.pieImagenContainer {
  z-index: 4;
  position: absolute;
  display: table;
}
/* line 108, ../sass/carousel.scss */
.pieImagenContainer .pieImagen {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  font-family: latoregular;
  overflow: hidden;
  *zoom: 1;
}
/* line 115, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .imagenAutor {
  float: right;
  border: 2px solid white;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  overflow: hidden;
}
/* line 121, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .imagenAutor .imagen {
  background-color: gray;
}
/* line 125, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .textoAutor {
  text-align: right;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 129, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .textoAutor .texto {
  padding-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-width: 1px;
  border-style: solid;
  border-bottom-style: none;
  border-top-style: none;
  border-left-style: none;
}
/* line 138, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .textoAutor .texto .titulo {
  font-family: latobold;
}
/* line 141, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .textoAutor .texto .fecha {
  font-family: latoitalic;
}

@media (max-width: 767px) {
  /* line 153, ../sass/carousel.scss */
  section.cabecera {
    padding-top: 80px;
    padding-bottom: 0px;
    height: 510px;
  }

  /* line 158, ../sass/carousel.scss */
  .imagenfondo {
    height: 460px;
  }
  /* line 160, ../sass/carousel.scss */
  .imagenfondo .item {
    height: 460px;
    width: 100%;
  }
  /* line 161, ../sass/carousel.scss */
  .imagenfondo .item .itemContenedor {
    width: 100%;
  }
  /* line 164, ../sass/carousel.scss */
  .imagenfondo .item .mascaraColorPhone {
    width: 100%;
  }
  /* line 169, ../sass/carousel.scss */
  .imagenfondo .item .image {
    width: 100%;
    height: 460px;
    -webkit-background-size: 130% auto;
    -moz-background-size: 130% auto;
    -o-background-size: 130% auto;
    background-size: 130% auto;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  /* line 178, ../sass/carousel.scss */
  .carousel {
    margin-top: 50px;
  }
  /* line 180, ../sass/carousel.scss */
  .carousel .carousel-inner {
    height: 420px;
  }
  /* line 182, ../sass/carousel.scss */
  .carousel .carousel-inner .itemContenedor {
    width: 100%;
  }
  /* line 185, ../sass/carousel.scss */
  .carousel .carousel-inner .item {
    height: 420px;
    width: 100%;
  }
  /* line 186, ../sass/carousel.scss */
  .carousel .carousel-inner .item .mascaraColorPhone {
    width: 100%;
  }
  /* line 189, ../sass/carousel.scss */
  .carousel .carousel-inner .item .pieImagenContainer {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    bottom: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 198, ../sass/carousel.scss */
  .carousel .carousel-inner .item .pieImagenContainer .pieImagen {
    padding-bottom: 30px;
  }
  /* line 200, ../sass/carousel.scss */
  .carousel .carousel-inner .item .pieImagenContainer .pieImagen .textoAutor {
    width: auto;
    padding-right: 90px;
  }
  /* line 204, ../sass/carousel.scss */
  .carousel .carousel-inner .item .pieImagenContainer .pieImagen .imagen {
    width: 60px;
    height: 60px;
  }
  /* line 212, ../sass/carousel.scss */
  .carousel .carousel-inner .item .image {
    width: 100%;
    height: 420px;
    -webkit-background-size: 150% auto;
    -moz-background-size: 150% auto;
    -o-background-size: 150% auto;
    background-size: 150% auto;
    background-position: center top;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  /* line 227, ../sass/carousel.scss */
  .visible-mediano {
    display: none;
  }

  /* line 230, ../sass/carousel.scss */
  .visible-grande {
    display: none;
  }

  /* line 233, ../sass/carousel.scss */
  .mascaraColor {
    width: 768px;
    margin-left: -384px;
  }

  /* line 237, ../sass/carousel.scss */
  .carousel-inner {
    height: 345px;
  }

  /* line 240, ../sass/carousel.scss */
  .itemContenedor {
    width: 728px;
  }

  /* line 243, ../sass/carousel.scss */
  .image {
    height: 345px;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  /* line 249, ../sass/carousel.scss */
  .carousel .image {
    background-position: left center;
  }

  /* line 254, ../sass/carousel.scss */
  .imagenfondo .itemContenedor {
    width: 100%;
  }
  /* line 257, ../sass/carousel.scss */
  .imagenfondo .image {
    background-position: right center;
  }

  /* line 261, ../sass/carousel.scss */
  .pieImagenContainer {
    height: 345px;
    left: 50%;
    width: 364px;
    top: 0px;
  }
  /* line 266, ../sass/carousel.scss */
  .pieImagenContainer .textoAutor {
    width: 284px;
  }
  /* line 269, ../sass/carousel.scss */
  .pieImagenContainer .imagen {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* line 278, ../sass/carousel.scss */
  .visible-mediano {
    display: block;
  }

  /* line 281, ../sass/carousel.scss */
  .visible-grande {
    display: none;
  }

  /* line 284, ../sass/carousel.scss */
  .mascaraColor {
    width: 990px;
    margin-left: -495px;
  }

  /* line 288, ../sass/carousel.scss */
  .carousel-inner {
    height: 345px;
  }

  /* line 291, ../sass/carousel.scss */
  .itemContenedor {
    width: 990px;
  }

  /* line 294, ../sass/carousel.scss */
  .image {
    height: 345px;
    -webkit-background-size: 70% auto;
    -moz-background-size: 70% auto;
    -o-background-size: 70% auto;
    background-size: 70% auto;
    background-repeat: no-repeat;
  }

  /* line 300, ../sass/carousel.scss */
  .carousel .image {
    background-position: left center;
  }

  /* line 305, ../sass/carousel.scss */
  .imagenfondo .itemContenedor {
    width: 100%;
  }
  /* line 308, ../sass/carousel.scss */
  .imagenfondo .image {
    background-position: right center;
  }

  /* line 312, ../sass/carousel.scss */
  .pieImagenContainer {
    height: 345px;
    left: 50%;
    width: 480px;
    top: 0px;
  }
  /* line 317, ../sass/carousel.scss */
  .pieImagenContainer .textoAutor {
    width: 395px;
  }
  /* line 320, ../sass/carousel.scss */
  .pieImagenContainer .imagen {
    width: 55px;
    height: 55px;
  }
}
@media (min-width: 1200px) {
  /* line 329, ../sass/carousel.scss */
  .visible-mediano {
    display: none;
  }

  /* line 332, ../sass/carousel.scss */
  .visible-grande {
    display: block;
  }

  /* line 335, ../sass/carousel.scss */
  .mascaraColor {
    width: 1200px;
    margin-left: -600px;
  }

  /* line 339, ../sass/carousel.scss */
  .carousel-inner {
    height: 345px;
  }

  /* line 342, ../sass/carousel.scss */
  .itemContenedor {
    width: 1200px;
  }

  /* line 345, ../sass/carousel.scss */
  .image {
    height: 345px;
    -webkit-background-size: 900px auto;
    -moz-background-size: 900px auto;
    -o-background-size: 900px auto;
    background-size: 900px auto;
    background-repeat: no-repeat;
  }

  /* line 351, ../sass/carousel.scss */
  .carousel .image {
    background-position: left center;
  }

  /* line 356, ../sass/carousel.scss */
  .imagenfondo .image {
    background-position: right center;
  }

  /* line 361, ../sass/carousel.scss */
  .pieImagenContainer {
    height: 345px;
    left: 50%;
    width: 570px;
    top: 0px;
  }
  /* line 366, ../sass/carousel.scss */
  .pieImagenContainer .textoAutor {
    width: 480px;
  }
  /* line 369, ../sass/carousel.scss */
  .pieImagenContainer .imagen {
    width: 60px;
    height: 60px;
  }
}
/* line 378, ../sass/carousel.scss */
.cabecera.confondo hgroup {
  -webkit-animation: fadeIn 1000ms ease 1500ms both;
  -moz-animation: fadeIn 1000ms ease 1500ms both;
  animation: fadeIn 1000ms ease 1500ms both;
}

/* line 384, ../sass/carousel.scss */
.imagenfondo .item {
  -webkit-animation: fadeIn 500ms ease 500ms both;
  -moz-animation: fadeIn 500ms ease 500ms both;
  animation: fadeIn 500ms ease 500ms both;
}

/* line 389, ../sass/carousel.scss */
.imagenfondo .item img {
  -webkit-animation: fadeIn 1000ms ease 1000ms both;
  -moz-animation: fadeIn 1000ms ease 1000ms both;
  animation: fadeIn 1000ms ease 1000ms both;
}

/* line 396, ../sass/carousel.scss */
.carousel.fade {
  opacity: 1;
}
/* line 398, ../sass/carousel.scss */
.carousel.fade .item {
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  z-index: 1;
}
/* line 410, ../sass/carousel.scss */
.carousel.fade .item:first-child {
  top: auto;
  position: relative;
}
/* line 416, ../sass/carousel.scss */
.carousel.fade .item.active {
  opacity: 1;
  -moz-transition: opacity ease-in-out .7s;
  -o-transition: opacity ease-in-out .7s;
  -webkit-transition: opacity ease-in-out .7s;
  transition: opacity ease-in-out .7s;
  z-index: 2;
}

/* Base styles */
/* line 31, ../sass/huerto.scss */
html body {
  font-family: helvetica;
}

/* line 35, ../sass/huerto.scss */
input {
  -webkit-appearance: none;
}

/* line 38, ../sass/huerto.scss */
.accordion-group {
  border: none;
}

/* line 42, ../sass/huerto.scss */
.principal.confondo#estapasando {
  background-image: url("../img/actividades_estatico.jpg");
  -webkit-background-size: 1950px auto;
  -moz-background-size: 1950px auto;
  -o-background-size: 1950px auto;
  background-size: 1950px auto;
  background-position: center center;
  background-repeat: no-repeat;
}

/* line 250, ../sass/huerto.scss */
.barralateral ul {
  background-color: #e4f1d5;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
}
/* line 253, ../sass/huerto.scss */
.barralateral ul li {
  border: none;
}
/* line 254, ../sass/huerto.scss */
.barralateral ul li:first-child a:hover {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}
/* line 258, ../sass/huerto.scss */
.barralateral ul li:last-child a:hover {
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* line 263, ../sass/huerto.scss */
.barralateral ul li a:link, .barralateral ul li a:visited, .barralateral ul li a:active {
  color: #666666;
}
/* line 266, ../sass/huerto.scss */
.barralateral ul li a:hover {
  background-color: #cbe4af;
}

/* line 275, ../sass/huerto.scss */
.embebido {
  position: relative;
}
/* line 278, ../sass/huerto.scss */
.embebido .marco {
  width: 100%;
  height: 500px;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
  -webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid grey;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  pointer-events: none;
}
/* line 290, ../sass/huerto.scss */
.embebido iframe {
  pointer-events: auto;
  position: relative;
  width: 100%;
  border: none;
  height: 500px;
  top: 0px;
  left: 0px;
  z-index: 0;
}
/* line 300, ../sass/huerto.scss */
.embebido small {
  position: relative;
}

/* line 308, ../sass/huerto.scss */
.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  margin-bottom: 0px;
  background-color: #fff;
}
/* line 313, ../sass/huerto.scss */
.navbar .navbar-brand {
  font-family: latoregular;
}
/* line 318, ../sass/huerto.scss */
.navbar.affix, .navbar.navbar-fixed-top {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
}
/* line 321, ../sass/huerto.scss */
.navbar li a:link, .navbar li a:visited {
  color: #aaa;
}
/* line 323, ../sass/huerto.scss */
.navbar li a:link:hover, .navbar li a:visited:hover {
  color: #888;
}
/* line 327, ../sass/huerto.scss */
.navbar li.active a, .navbar li.active a:hover {
  color: #59812c;
  background-color: white;
}

/* line 333, ../sass/huerto.scss */
section.confondo {
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.15);
}
/* line 335, ../sass/huerto.scss */
section.confondo.gris {
  background-color: #F8F8F8;
}
/* line 339, ../sass/huerto.scss */
section a:link, section a:visited, section a:active {
  color: #669433;
}
/* line 341, ../sass/huerto.scss */
section a:link:hover, section a:visited:hover, section a:active:hover {
  font-style: underline;
}
/* line 345, ../sass/huerto.scss */
section h1 {
  font-family: latoregular;
  font-weight: normal;
}
/* line 349, ../sass/huerto.scss */
section h2.subtitle {
  font-family: latoregular;
  color: #888;
}
/* line 353, ../sass/huerto.scss */
section h3 {
  font-family: latoregular;
  font-weight: normal;
}

/* line 363, ../sass/huerto.scss */
.boton.hidden-sm .btn {
  width: 320px;
}

/* line 370, ../sass/huerto.scss */
.sinfondo .boton .hidden-sm .btn {
  width: 320px;
  float: right;
}

/* line 378, ../sass/huerto.scss */
.boton .btn-lg {
  font-family: latoregular;
  font-weight: normal;
}
/* line 382, ../sass/huerto.scss */
.boton .btn-default {
  color: white;
  font-family: latoregular;
  background-color: #669433;
  border-color: #669433;
}
/* line 387, ../sass/huerto.scss */
.boton .btn-default i {
  margin-right: 10px;
}
/* line 390, ../sass/huerto.scss */
.boton .btn-default:hover {
  background-color: #73a73a;
}

/* formulario email */
/* line 399, ../sass/huerto.scss */
.formulario a {
  border-color: #ddd;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  font-weight: normal;
  background-color: #eee;
  border-color: #ddd;
  color: grey;
}
/* line 406, ../sass/huerto.scss */
.formulario a:link, .formulario a:visited, .formulario a:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  color: grey;
}
/* line 410, ../sass/huerto.scss */
.formulario a:hover {
  border-color: #ddd;
  background-color: #d4d4d4;
  color: grey;
}

/* lista calendario */
/* line 420, ../sass/huerto.scss */
.listaCalendario .popover {
  max-width: none;
  left: 0px;
  min-height: 110px;
}
/* line 425, ../sass/huerto.scss */
.listaCalendario ol {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
  list-style-position: inside;
  border-color: rgba(0, 0, 0, 0.4);
}
/* line 431, ../sass/huerto.scss */
.listaCalendario ol li {
  /*texttruncation*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /**/
  border-color: rgba(0, 0, 0, 0.2);
}
/* line 432, ../sass/huerto.scss */
.listaCalendario ol li time {
  font-style: italic;
}
/* line 441, ../sass/huerto.scss */
.listaCalendario ol li:last-child {
  border-color: rgba(0, 0, 0, 0.4);
}
/* line 444, ../sass/huerto.scss */
.listaCalendario ol li.pasada {
  opacity: 0.3;
}
/* line 449, ../sass/huerto.scss */
.listaCalendario a {
  line-height: 2.25em;
}

/* Footer */
/* line 457, ../sass/huerto.scss */
.footer {
  text-align: left;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
}
/* line 462, ../sass/huerto.scss */
.footer p {
  margin-bottom: 0;
  color: #777;
}
/* line 466, ../sass/huerto.scss */
.footer a:link, .footer a:visited, .footer a:active {
  color: #669433;
}
/* line 468, ../sass/huerto.scss */
.footer a:link:hover, .footer a:visited:hover, .footer a:active:hover {
  font-style: underline;
}
/* line 472, ../sass/huerto.scss */
.footer .footer-links {
  margin: 10px 0;
}
/* line 474, ../sass/huerto.scss */
.footer .footer-links li {
  display: inline;
  padding: 0 2px;
}
/* line 478, ../sass/huerto.scss */
.footer .footer-links li:first-child {
  padding-left: 0;
}

@media (max-width: 767px) {
  /* line 61, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 100%;
  }

  /* line 64, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 16px;
    line-height: 1.5em;
  }

  /* line 64, ../sass/huerto.scss */
  section.principal {
    margin-top: 0px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-bottom: 0px;
  }
  /* line 69, ../sass/huerto.scss */
  section.secundaria {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 72px;
    margin-bottom: 0px;
  }
  /* line 72, ../sass/huerto.scss */
  section.secundaria hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 75, ../sass/huerto.scss */
  section.secundaria .listaCalendario {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 78, ../sass/huerto.scss */
  section.secundaria .agradecimiento h3 {
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 81, ../sass/huerto.scss */
  section h1 {
    font-size: 35px;
    line-height: 42px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 85, ../sass/huerto.scss */
  section h2.subtitle {
    font-size: 21.632px;
    line-height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 89, ../sass/huerto.scss */
  section.confondo hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
  /* line 92, ../sass/huerto.scss */
  section h3 {
    font-size: 25.888px;
    line-height: 30px;
    margin-top: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 96, ../sass/huerto.scss */
  section ol {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 23px;
    margin-top: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 100, ../sass/huerto.scss */
  section li, section li.lista {
    font-size: 16px;
    line-height: 38px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 23px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 105, ../sass/huerto.scss */
  section p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 18px;
  }
  /* line 109, ../sass/huerto.scss */
  section small {
    top: 6px;
    font-size: 13.37px;
    line-height: 24px;
  }
  /* line 113, ../sass/huerto.scss */
  section .embebido {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 48px;
  }
  /* line 116, ../sass/huerto.scss */
  section hr {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 119, ../sass/huerto.scss */
  section .formulario {
    margin-top: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 122, ../sass/huerto.scss */
  section.secundaria .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 125, ../sass/huerto.scss */
  section.confondo .boton {
    margin-top: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 128, ../sass/huerto.scss */
  section.sinfondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 131, ../sass/huerto.scss */
  section .barralateral {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 48px;
  }

  /* line 136, ../sass/huerto.scss */
  footer p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }

  /* line 490, ../sass/huerto.scss */
  .visible-mediano {
    display: none;
  }

  /* line 493, ../sass/huerto.scss */
  .visible-grande {
    display: none;
  }

  /* line 496, ../sass/huerto.scss */
  .principal.confondo#quees {
    position: relative;
    background-image: none;
    overflow: hidden;
  }
  /* line 500, ../sass/huerto.scss */
  .principal.confondo#quees hgroup {
    padding-bottom: 28%;
  }

  /* line 504, ../sass/huerto.scss */
  .principal.confondo#quees:after {
    content: "";
    position: absolute;
    top: -8.5%;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/mapa_estatico.jpg");
    -webkit-background-size: 2550px auto;
    -moz-background-size: 2550px auto;
    -o-background-size: 2550px auto;
    background-size: 2550px auto;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: -200;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  /* line 61, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 100%;
  }

  /* line 64, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 158, ../sass/huerto.scss */
  section.principal {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 161, ../sass/huerto.scss */
  section.cabecera {
    margin-top: 0px;
    padding-top: 144px;
    padding-bottom: 120px;
    margin-bottom: 0px;
  }
  /* line 164, ../sass/huerto.scss */
  section.secundaria {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 72px;
    margin-bottom: 0px;
  }
  /* line 167, ../sass/huerto.scss */
  section.secundaria hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 170, ../sass/huerto.scss */
  section.secundaria .listaCalendario {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 173, ../sass/huerto.scss */
  section.secundaria .agradecimiento h3 {
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 176, ../sass/huerto.scss */
  section h1 {
    font-size: 35px;
    line-height: 42px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 180, ../sass/huerto.scss */
  section h2.subtitle {
    font-size: 21.632px;
    line-height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 184, ../sass/huerto.scss */
  section.sinfondo {
    min-height: 288px;
  }
  /* line 187, ../sass/huerto.scss */
  section.confondo hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
  /* line 190, ../sass/huerto.scss */
  section h3 {
    font-size: 25.888px;
    line-height: 30px;
    margin-top: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 194, ../sass/huerto.scss */
  section ol {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 23px;
    margin-top: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 198, ../sass/huerto.scss */
  section li, section li.lista {
    font-size: 16px;
    line-height: 38px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 23px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 203, ../sass/huerto.scss */
  section p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 12px;
  }
  /* line 207, ../sass/huerto.scss */
  section small {
    top: 6px;
    font-size: 13.37px;
    line-height: 24px;
  }
  /* line 211, ../sass/huerto.scss */
  section .embebido {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 72px;
  }
  /* line 214, ../sass/huerto.scss */
  section hr {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 217, ../sass/huerto.scss */
  section .formulario {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 220, ../sass/huerto.scss */
  section.secundaria .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 223, ../sass/huerto.scss */
  section.cabecera.confondo {
    margin-top: 0px;
    padding-top: 144px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 226, ../sass/huerto.scss */
  section.confondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 229, ../sass/huerto.scss */
  section.sinfondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 232, ../sass/huerto.scss */
  section .barralateral {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 48px;
  }

  /* line 237, ../sass/huerto.scss */
  footer p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }

  /* line 521, ../sass/huerto.scss */
  .visible-mediano {
    display: none;
  }

  /* line 524, ../sass/huerto.scss */
  .visible-grande {
    display: none;
  }

  /* line 527, ../sass/huerto.scss */
  .principal.confondo#quees {
    position: relative;
    background-image: none;
    overflow: hidden;
  }

  /* line 532, ../sass/huerto.scss */
  .principal.confondo#quees:after {
    content: "";
    position: absolute;
    top: -290px;
    left: 0;
    right: -550px;
    bottom: 0;
    background-image: url("../img/mapa_estatico.jpg");
    -webkit-background-size: 2550px auto;
    -moz-background-size: 2550px auto;
    -o-background-size: 2550px auto;
    background-size: 2550px auto;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -200;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* line 61, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 100%;
  }

  /* line 64, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 158, ../sass/huerto.scss */
  section.principal {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 161, ../sass/huerto.scss */
  section.cabecera {
    margin-top: 0px;
    padding-top: 144px;
    padding-bottom: 120px;
    margin-bottom: 0px;
  }
  /* line 164, ../sass/huerto.scss */
  section.secundaria {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 72px;
    margin-bottom: 0px;
  }
  /* line 167, ../sass/huerto.scss */
  section.secundaria hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 170, ../sass/huerto.scss */
  section.secundaria .listaCalendario {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 173, ../sass/huerto.scss */
  section.secundaria .agradecimiento h3 {
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 176, ../sass/huerto.scss */
  section h1 {
    font-size: 35px;
    line-height: 42px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 180, ../sass/huerto.scss */
  section h2.subtitle {
    font-size: 21.632px;
    line-height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 184, ../sass/huerto.scss */
  section.sinfondo {
    min-height: 288px;
  }
  /* line 187, ../sass/huerto.scss */
  section.confondo hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
  /* line 190, ../sass/huerto.scss */
  section h3 {
    font-size: 25.888px;
    line-height: 30px;
    margin-top: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 194, ../sass/huerto.scss */
  section ol {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 23px;
    margin-top: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 198, ../sass/huerto.scss */
  section li, section li.lista {
    font-size: 16px;
    line-height: 38px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 23px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 203, ../sass/huerto.scss */
  section p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 12px;
  }
  /* line 207, ../sass/huerto.scss */
  section small {
    top: 6px;
    font-size: 13.37px;
    line-height: 24px;
  }
  /* line 211, ../sass/huerto.scss */
  section .embebido {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 72px;
  }
  /* line 214, ../sass/huerto.scss */
  section hr {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 217, ../sass/huerto.scss */
  section .formulario {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 220, ../sass/huerto.scss */
  section.secundaria .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 223, ../sass/huerto.scss */
  section.cabecera.confondo {
    margin-top: 0px;
    padding-top: 144px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 226, ../sass/huerto.scss */
  section.confondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 229, ../sass/huerto.scss */
  section.sinfondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 232, ../sass/huerto.scss */
  section .barralateral {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 48px;
  }

  /* line 237, ../sass/huerto.scss */
  footer p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }

  /* line 549, ../sass/huerto.scss */
  .visible-mediano {
    display: block;
  }

  /* line 552, ../sass/huerto.scss */
  .visible-grande {
    display: none;
  }

  /* line 555, ../sass/huerto.scss */
  .principal.confondo#quees {
    position: relative;
    background-image: none;
    overflow: hidden;
  }

  /* line 560, ../sass/huerto.scss */
  .principal.confondo#quees:after {
    content: "";
    position: absolute;
    top: -240px;
    left: 0;
    right: -470px;
    bottom: 0;
    background-image: url("../img/mapa_estatico.jpg");
    -webkit-background-size: 2550px auto;
    -moz-background-size: 2550px auto;
    -o-background-size: 2550px auto;
    background-size: 2550px auto;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -200;
  }
}
@media (min-width: 1200px) {
  /* line 61, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 100%;
  }

  /* line 64, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 158, ../sass/huerto.scss */
  section.principal {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 161, ../sass/huerto.scss */
  section.cabecera {
    margin-top: 0px;
    padding-top: 144px;
    padding-bottom: 120px;
    margin-bottom: 0px;
  }
  /* line 164, ../sass/huerto.scss */
  section.secundaria {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 72px;
    margin-bottom: 0px;
  }
  /* line 167, ../sass/huerto.scss */
  section.secundaria hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 170, ../sass/huerto.scss */
  section.secundaria .listaCalendario {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 173, ../sass/huerto.scss */
  section.secundaria .agradecimiento h3 {
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 176, ../sass/huerto.scss */
  section h1 {
    font-size: 35px;
    line-height: 42px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 180, ../sass/huerto.scss */
  section h2.subtitle {
    font-size: 21.632px;
    line-height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 184, ../sass/huerto.scss */
  section.sinfondo {
    min-height: 288px;
  }
  /* line 187, ../sass/huerto.scss */
  section.confondo hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
  /* line 190, ../sass/huerto.scss */
  section h3 {
    font-size: 25.888px;
    line-height: 30px;
    margin-top: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 194, ../sass/huerto.scss */
  section ol {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 23px;
    margin-top: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 198, ../sass/huerto.scss */
  section li, section li.lista {
    font-size: 16px;
    line-height: 38px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 23px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 203, ../sass/huerto.scss */
  section p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 12px;
  }
  /* line 207, ../sass/huerto.scss */
  section small {
    top: 6px;
    font-size: 13.37px;
    line-height: 24px;
  }
  /* line 211, ../sass/huerto.scss */
  section .embebido {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 72px;
  }
  /* line 214, ../sass/huerto.scss */
  section hr {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 217, ../sass/huerto.scss */
  section .formulario {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 220, ../sass/huerto.scss */
  section.secundaria .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 223, ../sass/huerto.scss */
  section.cabecera.confondo {
    margin-top: 0px;
    padding-top: 144px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 226, ../sass/huerto.scss */
  section.confondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 229, ../sass/huerto.scss */
  section.sinfondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 232, ../sass/huerto.scss */
  section .barralateral {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 48px;
  }

  /* line 237, ../sass/huerto.scss */
  footer p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }

  /* line 577, ../sass/huerto.scss */
  .visible-mediano {
    display: none;
  }

  /* line 580, ../sass/huerto.scss */
  .visible-grande {
    display: block;
  }

  /* line 583, ../sass/huerto.scss */
  .principal.confondo#quees {
    position: relative;
    background-image: none;
    overflow: hidden;
  }

  /* line 588, ../sass/huerto.scss */
  .principal.confondo#quees:after {
    content: "";
    position: absolute;
    top: -240px;
    left: 0;
    right: -640px;
    bottom: 0;
    background-image: url("../img/mapa_estatico.jpg");
    -webkit-background-size: 2550px auto;
    -moz-background-size: 2550px auto;
    -o-background-size: 2550px auto;
    background-size: 2550px auto;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: -200;
  }
}
