/* Sidenav for Docs
-------------------------------------------------- */
/* line 4, ../sass/sidebar.scss */
.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

/* line 16, ../sass/sidebar.scss */
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}

/* line 23, ../sass/sidebar.scss */
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

/* line 28, ../sass/sidebar.scss */
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

/* line 33, ../sass/sidebar.scss */
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1), inset -1px 0 0 rgba(0, 0, 0, 0.1);
}

/* Chevrons */
/* line 44, ../sass/sidebar.scss */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

/* line 50, ../sass/sidebar.scss */
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}

/* line 53, ../sass/sidebar.scss */
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}

/* line 57, ../sass/sidebar.scss */
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}

/* line 61, ../sass/sidebar.scss */
.bs-docs-sidenav.affix {
  top: 40px;
}

/* line 64, ../sass/sidebar.scss */
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Carousel base class */
/* general styles Fonts and text sizes */
/* line 25, ../sass/huerto.scss */
html body {
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
  margin-top: 50px;
}

/* line 32, ../sass/huerto.scss */
.modal-dialog {
  padding-top: 80px;
}

/* line 35, ../sass/huerto.scss */
.navbar {
  margin-bottom: 0px;
  background-color: #fff;
}
/* line 38, ../sass/huerto.scss */
.navbar.affix, .navbar.navbar-fixed-top {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
}

/* line 43, ../sass/huerto.scss */
section h1 {
  font-family: latoregular;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 0px;
}
/* line 49, ../sass/huerto.scss */
section h2.subtitle {
  margin-top: 10px;
  font-family: helvetica;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #999999;
}
/* line 57, ../sass/huerto.scss */
section h3 {
  font-family: latoregular;
  font-weight: normal;
  font-size: 25px;
  margin-bottom: 10px;
}
/* line 63, ../sass/huerto.scss */
section {
  padding-top: 70px;
  padding-bottom: 90px;
}

/* line 68, ../sass/huerto.scss */
.icono {
  width: 100px;
  padding-top: 25px;
  float: right;
}

/* line 74, ../sass/huerto.scss */
section.confondo {
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.15);
}
/* line 76, ../sass/huerto.scss */
section.confondo .col-sm-6:last-child {
  margin-top: 50px;
}

/* line 86, ../sass/huerto.scss */
.boton .hidden-sm .btn {
  margin-top: 20px;
  width: 320px;
}

/* line 96, ../sass/huerto.scss */
.sinfondo .boton .hidden-sm .btn {
  float: right;
  margin-top: 45px;
}

/* line 105, ../sass/huerto.scss */
.boton .btn-default {
  color: black;
  font-family: latoregular;
  background-color: transparent;
}
/* line 109, ../sass/huerto.scss */
.boton .btn-default i {
  margin-right: 10px;
}
/* line 112, ../sass/huerto.scss */
.boton .btn-default:hover {
  background-color: silver;
}

/* line 120, ../sass/huerto.scss */
.pieImagenContainer {
  z-index: 4;
  position: absolute;
  display: table;
}
/* line 124, ../sass/huerto.scss */
.pieImagenContainer .pieImagen {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  font-family: latoregular;
  overflow: hidden;
  *zoom: 1;
}
/* line 131, ../sass/huerto.scss */
.pieImagenContainer .pieImagen .imagenAutor {
  float: right;
}
/* line 133, ../sass/huerto.scss */
.pieImagenContainer .pieImagen .imagenAutor .imagen {
  border: 2px solid white;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: gray;
}
/* line 143, ../sass/huerto.scss */
.pieImagenContainer .pieImagen .textoAutor {
  text-align: right;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
}
/* line 148, ../sass/huerto.scss */
.pieImagenContainer .pieImagen .textoAutor .texto {
  padding-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-width: 1px;
  border-style: solid;
  border-bottom-style: none;
  border-top-style: none;
  border-left-style: none;
}
/* line 157, ../sass/huerto.scss */
.pieImagenContainer .pieImagen .textoAutor .texto .titulo {
  font-family: latobold;
}
/* line 160, ../sass/huerto.scss */
.pieImagenContainer .pieImagen .textoAutor .texto .fecha {
  font-family: latoitalic;
}

@media (max-width: 767px) {
  /* line 172, ../sass/huerto.scss */
  .visible-mediano {
    display: none;
  }

  /* line 175, ../sass/huerto.scss */
  .visible-grande {
    display: none;
  }

  /* line 178, ../sass/huerto.scss */
  footer .creditosTecnicos {
    padding: 15px;
  }

  /* line 181, ../sass/huerto.scss */
  section.confondo {
    -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.5);
    padding-bottom: 0px;
  }

  /* line 185, ../sass/huerto.scss */
  .carousel {
    margin-top: 50px;
  }
  /* line 187, ../sass/huerto.scss */
  .carousel .carousel-inner {
    height: 420px;
  }
  /* line 189, ../sass/huerto.scss */
  .carousel .carousel-inner .itemContenedor {
    width: 100%;
  }
  /* line 192, ../sass/huerto.scss */
  .carousel .carousel-inner .item {
    height: 420px;
    width: 100%;
  }
  /* line 193, ../sass/huerto.scss */
  .carousel .carousel-inner .item .mascaraColorPhone {
    width: 100%;
  }
  /* line 196, ../sass/huerto.scss */
  .carousel .carousel-inner .item .pieImagenContainer {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    bottom: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 205, ../sass/huerto.scss */
  .carousel .carousel-inner .item .pieImagenContainer .pieImagen {
    padding-bottom: 30px;
  }
  /* line 207, ../sass/huerto.scss */
  .carousel .carousel-inner .item .pieImagenContainer .pieImagen .textoAutor {
    padding-right: 70px;
    width: auto;
  }
  /* line 217, ../sass/huerto.scss */
  .carousel .carousel-inner .item .image {
    width: 100%;
    height: 420px;
    -webkit-background-size: 150% auto;
    -moz-background-size: 150% auto;
    -o-background-size: 150% auto;
    background-size: 150% auto;
    background-position: center top;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  /* line 230, ../sass/huerto.scss */
  .visible-mediano {
    display: none;
  }

  /* line 233, ../sass/huerto.scss */
  .visible-grande {
    display: none;
  }

  /* line 236, ../sass/huerto.scss */
  .mascaraColor {
    width: 768px;
    margin-left: -384px;
  }

  /* line 240, ../sass/huerto.scss */
  .carousel-inner {
    height: 345px;
  }

  /* line 243, ../sass/huerto.scss */
  .itemContenedor {
    width: 728px;
  }

  /* line 246, ../sass/huerto.scss */
  .image {
    height: 345px;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
  }

  /* line 252, ../sass/huerto.scss */
  .pieImagenContainer {
    height: 345px;
    left: 50%;
    width: 364px;
    top: 0px;
  }
  /* line 257, ../sass/huerto.scss */
  .pieImagenContainer .textoAutor {
    width: 284px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* line 264, ../sass/huerto.scss */
  .visible-mediano {
    display: block;
  }

  /* line 267, ../sass/huerto.scss */
  .visible-grande {
    display: none;
  }

  /* line 270, ../sass/huerto.scss */
  .mascaraColor {
    width: 990px;
    margin-left: -495px;
  }

  /* line 274, ../sass/huerto.scss */
  .carousel-inner {
    height: 345px;
  }

  /* line 277, ../sass/huerto.scss */
  .itemContenedor {
    width: 990px;
  }

  /* line 280, ../sass/huerto.scss */
  .image {
    height: 345px;
    -webkit-background-size: 70% auto;
    -moz-background-size: 70% auto;
    -o-background-size: 70% auto;
    background-size: 70% auto;
    background-position: left center;
    background-repeat: no-repeat;
  }

  /* line 286, ../sass/huerto.scss */
  .pieImagenContainer {
    height: 345px;
    left: 50%;
    width: 480px;
    top: 0px;
  }
  /* line 291, ../sass/huerto.scss */
  .pieImagenContainer .textoAutor {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  /* line 298, ../sass/huerto.scss */
  .visible-mediano {
    display: none;
  }

  /* line 301, ../sass/huerto.scss */
  .visible-grande {
    display: block;
  }

  /* line 304, ../sass/huerto.scss */
  .mascaraColor {
    width: 1200px;
    margin-left: -600px;
  }

  /* line 308, ../sass/huerto.scss */
  .carousel-inner {
    height: 345px;
  }

  /* line 311, ../sass/huerto.scss */
  .itemContenedor {
    width: 1200px;
  }

  /* line 314, ../sass/huerto.scss */
  .image {
    height: 345px;
    -webkit-background-size: 900px auto;
    -moz-background-size: 900px auto;
    -o-background-size: 900px auto;
    background-size: 900px auto;
    background-position: left center;
    background-repeat: no-repeat;
  }

  /* line 320, ../sass/huerto.scss */
  .pieImagenContainer {
    height: 345px;
    left: 50%;
    width: 570px;
    top: 0px;
  }
  /* line 325, ../sass/huerto.scss */
  .pieImagenContainer .textoAutor {
    width: 490px;
  }
}
/* line 331, ../sass/huerto.scss */
.carousel {
  margin-bottom: 0px;
  overflow: hidden;
}
/* line 334, ../sass/huerto.scss */
.carousel .item {
  width: 100%;
  overflow: hidden;
}
/* line 337, ../sass/huerto.scss */
.carousel .item .itemContenedor {
  margin-left: auto;
  margin-right: auto;
}
/* line 342, ../sass/huerto.scss */
.carousel .mascaraColor {
  z-index: 2;
  top: 0px;
  left: 50%;
  position: absolute;
  height: 100%;
}
/* line 349, ../sass/huerto.scss */
.carousel .mascaraColorPhone {
  z-index: 2;
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
}
/* line 356, ../sass/huerto.scss */
.carousel .carousel-inner {
  width: 100%;
}

/* line 361, ../sass/huerto.scss */
.carousel-control {
  position: absolute;
  top: 40%;
  width: 50px;
  font-family: latohairline;
  line-height: 30px;
  color: white;
  text-align: center;
  background: #222;
  border: 3px solid white;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  background-image: none !important;
  border: 0;
  z-index: 10;
}
/* line 384, ../sass/huerto.scss */
.carousel-control.left, .carousel-control.right {
  background-color: transparent;
  background-image: none !important;
}

/* line 390, ../sass/huerto.scss */
.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 398, ../sass/huerto.scss */
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 405, ../sass/huerto.scss */
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

/* line 410, ../sass/huerto.scss */
.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

/* Mapa centrado */
/* line 417, ../sass/huerto.scss */
#quees {
  overflow: hidden;
  *zoom: 1;
  overflow: hidden;
}
/* line 420, ../sass/huerto.scss */
#quees .imagenFondo {
  background: url(/img/planoHuertoFuensanta.png);
  background-repeat: no-repeat;
  background-position: center center !important;
  background-color: #f5f3e9;
}
@media (max-width: 767px) {
  /* line 420, ../sass/huerto.scss */
  #quees .imagenFondo {
    background-size: auto 100% !important;
    left: 186px;
  }
}
@media (min-width: 768px) and (max-width: 980px) {
  /* line 420, ../sass/huerto.scss */
  #quees .imagenFondo {
    background-size: 980px auto !important;
    left: 240px;
  }
}
@media (min-width: 1200px) {
  /* line 420, ../sass/huerto.scss */
  #quees .imagenFondo {
    background-size: 1200px auto !important;
    left: 250px;
  }
}
/* line 440, ../sass/huerto.scss */
#quees .imagenFondoPhone {
  position: relative;
  background: url(/img/planoHuertoFuensanta.png);
  background-repeat: no-repeat;
  background-position: center center !important;
  width: 100%;
  height: 490px;
  z-index: -800;
}
/* line 449, ../sass/huerto.scss */
#quees .mascaraFondoPhone {
  position: relative;
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 380px, white 480px, white 100%);
  /* Chrome10+,Safari5.1+ */
  width: 100%;
  height: 490px;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -500;
}
/* line 461, ../sass/huerto.scss */
#quees .notaMapaPhone {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px;
  -webkit-border-radius: 10px 10px;
  -moz-border-radius: 10px / 10px;
  border-radius: 10px / 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  width: 320px;
  left: 50%;
  margin-left: -160px;
}

/* lista calendario */
/* line 478, ../sass/huerto.scss */
#estapasando .listaCalendario ol {
  margin: 0px;
  list-style: none;
  list-style-position: inside;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}
/* line 483, ../sass/huerto.scss */
#estapasando .listaCalendario ol li {
  /*texttruncation*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /**/
  line-height: 2.25em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
/* line 491, ../sass/huerto.scss */
#estapasando .listaCalendario ol li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
/* line 496, ../sass/huerto.scss */
#estapasando .listaCalendario a {
  line-height: 2.25em;
}

/* visor de imagenes */
/* line 502, ../sass/huerto.scss */
section {
  position: relative;
}
/* line 504, ../sass/huerto.scss */
section .imagenFondo {
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -800;
  -webkit-background-size: 100% auto !important;
  background-size: 100% auto !important;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 989px) {
  /* line 504, ../sass/huerto.scss */
  section .imagenFondo {
    -webkit-background-size: auto 100% !important;
    background-size: auto 100% !important;
  }
}
@media (min-width: 990px) {
  /* line 504, ../sass/huerto.scss */
  section .imagenFondo {
    -webkit-background-size: 100% auto !important;
    background-size: 100% auto !important;
  }
}
/* line 525, ../sass/huerto.scss */
section .mascaraFondo {
  top: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -500;
  background: -moz-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.95) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-st5p(40%, rgba(255, 255, 255, 0.91)), color-stop(60%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.95) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.95) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, white 0%, rgba(255, 255, 255, 0.95) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0.95) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */
}

/* navegador actividades */
/**/
/* posicionamiento del boton */
/* line 543, ../sass/huerto.scss */
#estapasando .row {
  position: relative;
}
/* line 545, ../sass/huerto.scss */
#estapasando .row .span6:last-child {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

/* estilos del boton */
/* line 553, ../sass/huerto.scss */
.navegadorActividades {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
/* line 558, ../sass/huerto.scss */
.navegadorActividades .btn-group {
  width: 100%;
}
/* line 560, ../sass/huerto.scss */
.navegadorActividades .btn-group .btn {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 565, ../sass/huerto.scss */
.navegadorActividades .btn-group .btn.retroceder, .navegadorActividades .btn-group .btn.avanzar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 15%;
}
/* line 570, ../sass/huerto.scss */
.navegadorActividades .btn-group .btn.titulo {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 70%;
  /*texttruncation*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /**/
}

/* line 581, ../sass/huerto.scss */
.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2000;
}

/* Footer
-------------------------------------------------- */
/* line 598, ../sass/huerto.scss */
.footer {
  text-align: left;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
}

/* line 604, ../sass/huerto.scss */
.footer p {
  margin-bottom: 0;
  color: #777;
}

/* line 608, ../sass/huerto.scss */
.footer-links {
  margin: 10px 0;
}

/* line 611, ../sass/huerto.scss */
.footer-links li {
  display: inline;
  padding: 0 2px;
}

/* line 615, ../sass/huerto.scss */
.footer-links li:first-child {
  padding-left: 0;
}

/* Logo optimization */
/* line 623, ../sass/huerto.scss */
#logo {
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 80px;
  background-color: white;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
/* line 632, ../sass/huerto.scss */
#logo h1, #logo p {
  display: none;
}
