/* Carousel base class */
/* line 7, ../sass/carousel.scss */
.carousel {
  margin-bottom: 0px;
  overflow: hidden;
}
/* line 10, ../sass/carousel.scss */
.carousel .item {
  width: 100%;
  overflow: hidden;
}
/* line 13, ../sass/carousel.scss */
.carousel .item .itemContenedor {
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../sass/carousel.scss */
.carousel .mascaraColor {
  z-index: 2;
  top: 0px;
  left: 50%;
  position: absolute;
  height: 100%;
}
/* line 25, ../sass/carousel.scss */
.carousel .mascaraColorPhone {
  z-index: 2;
  top: 0px;
  left: 0px;
  position: absolute;
  height: 100%;
}
/* line 32, ../sass/carousel.scss */
.carousel .carousel-inner {
  width: 100%;
}

/* line 37, ../sass/carousel.scss */
.carousel-control {
  position: absolute;
  top: 40%;
  width: 50px;
  font-family: latohairline;
  line-height: 30px;
  color: white;
  text-align: center;
  background: #222;
  border: 3px solid white;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: transparent;
  background-image: none !important;
  border: 0;
  z-index: 10;
}
/* line 60, ../sass/carousel.scss */
.carousel-control.left, .carousel-control.right {
  background-color: transparent;
  background-image: none !important;
}

/* line 66, ../sass/carousel.scss */
.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

/* line 74, ../sass/carousel.scss */
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}

/* line 81, ../sass/carousel.scss */
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

/* line 86, ../sass/carousel.scss */
.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

/* line 91, ../sass/carousel.scss */
.pieImagenContainer {
  z-index: 4;
  position: absolute;
  display: table;
}
/* line 95, ../sass/carousel.scss */
.pieImagenContainer .pieImagen {
  display: table-cell;
  vertical-align: middle;
  font-size: 16px;
  line-height: 24px;
  font-family: latoregular;
  overflow: hidden;
  *zoom: 1;
}
/* line 102, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .imagenAutor {
  float: right;
  border: 2px solid white;
  -webkit-border-radius: 50% 50%;
  -moz-border-radius: 50% / 50%;
  border-radius: 50% / 50%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
  overflow: hidden;
}
/* line 108, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .imagenAutor .imagen {
  background-color: gray;
}
/* line 112, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .textoAutor {
  text-align: right;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 116, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .textoAutor .texto {
  padding-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-width: 1px;
  border-style: solid;
  border-bottom-style: none;
  border-top-style: none;
  border-left-style: none;
}
/* line 125, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .textoAutor .texto .titulo {
  font-family: latobold;
}
/* line 128, ../sass/carousel.scss */
.pieImagenContainer .pieImagen .textoAutor .texto .fecha {
  font-family: latoitalic;
}

@media (max-width: 767px) {
  /* line 140, ../sass/carousel.scss */
  .carousel {
    margin-top: 50px;
  }
  /* line 142, ../sass/carousel.scss */
  .carousel .carousel-inner {
    height: 420px;
  }
  /* line 144, ../sass/carousel.scss */
  .carousel .carousel-inner .itemContenedor {
    width: 100%;
  }
  /* line 147, ../sass/carousel.scss */
  .carousel .carousel-inner .item {
    height: 420px;
    width: 100%;
  }
  /* line 148, ../sass/carousel.scss */
  .carousel .carousel-inner .item .mascaraColorPhone {
    width: 100%;
  }
  /* line 151, ../sass/carousel.scss */
  .carousel .carousel-inner .item .pieImagenContainer {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    bottom: 0px;
    left: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }
  /* line 160, ../sass/carousel.scss */
  .carousel .carousel-inner .item .pieImagenContainer .pieImagen {
    padding-bottom: 30px;
  }
  /* line 162, ../sass/carousel.scss */
  .carousel .carousel-inner .item .pieImagenContainer .pieImagen .textoAutor {
    width: auto;
    padding-right: 90px;
  }
  /* line 166, ../sass/carousel.scss */
  .carousel .carousel-inner .item .pieImagenContainer .pieImagen .imagen {
    width: 60px;
    height: 60px;
  }
  /* line 174, ../sass/carousel.scss */
  .carousel .carousel-inner .item .image {
    width: 100%;
    height: 420px;
    -webkit-background-size: 150% auto;
    -moz-background-size: 150% auto;
    -o-background-size: 150% auto;
    background-size: 150% auto;
    background-position: center top;
    background-repeat: no-repeat;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  /* line 188, ../sass/carousel.scss */
  .visible-mediano {
    display: none;
  }

  /* line 191, ../sass/carousel.scss */
  .visible-grande {
    display: none;
  }

  /* line 194, ../sass/carousel.scss */
  .mascaraColor {
    width: 768px;
    margin-left: -384px;
  }

  /* line 198, ../sass/carousel.scss */
  .carousel-inner {
    height: 345px;
  }

  /* line 201, ../sass/carousel.scss */
  .itemContenedor {
    width: 728px;
  }

  /* line 204, ../sass/carousel.scss */
  .image {
    height: 345px;
    -webkit-background-size: auto 100%;
    -moz-background-size: auto 100%;
    -o-background-size: auto 100%;
    background-size: auto 100%;
    background-position: left center;
    background-repeat: no-repeat;
  }

  /* line 210, ../sass/carousel.scss */
  .pieImagenContainer {
    height: 345px;
    left: 50%;
    width: 364px;
    top: 0px;
  }
  /* line 215, ../sass/carousel.scss */
  .pieImagenContainer .textoAutor {
    width: 284px;
  }
  /* line 218, ../sass/carousel.scss */
  .pieImagenContainer .imagen {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* line 227, ../sass/carousel.scss */
  .visible-mediano {
    display: block;
  }

  /* line 230, ../sass/carousel.scss */
  .visible-grande {
    display: none;
  }

  /* line 233, ../sass/carousel.scss */
  .mascaraColor {
    width: 990px;
    margin-left: -495px;
  }

  /* line 237, ../sass/carousel.scss */
  .carousel-inner {
    height: 345px;
  }

  /* line 240, ../sass/carousel.scss */
  .itemContenedor {
    width: 990px;
  }

  /* line 243, ../sass/carousel.scss */
  .image {
    height: 345px;
    -webkit-background-size: 70% auto;
    -moz-background-size: 70% auto;
    -o-background-size: 70% auto;
    background-size: 70% auto;
    background-position: left center;
    background-repeat: no-repeat;
  }

  /* line 249, ../sass/carousel.scss */
  .pieImagenContainer {
    height: 345px;
    left: 50%;
    width: 480px;
    top: 0px;
  }
  /* line 254, ../sass/carousel.scss */
  .pieImagenContainer .textoAutor {
    width: 395px;
  }
  /* line 257, ../sass/carousel.scss */
  .pieImagenContainer .imagen {
    width: 55px;
    height: 55px;
  }
}
@media (min-width: 1200px) {
  /* line 266, ../sass/carousel.scss */
  .visible-mediano {
    display: none;
  }

  /* line 269, ../sass/carousel.scss */
  .visible-grande {
    display: block;
  }

  /* line 272, ../sass/carousel.scss */
  .mascaraColor {
    width: 1200px;
    margin-left: -600px;
  }

  /* line 276, ../sass/carousel.scss */
  .carousel-inner {
    height: 345px;
  }

  /* line 279, ../sass/carousel.scss */
  .itemContenedor {
    width: 1200px;
  }

  /* line 282, ../sass/carousel.scss */
  .image {
    height: 345px;
    -webkit-background-size: 900px auto;
    -moz-background-size: 900px auto;
    -o-background-size: 900px auto;
    background-size: 900px auto;
    background-position: left center;
    background-repeat: no-repeat;
  }

  /* line 288, ../sass/carousel.scss */
  .pieImagenContainer {
    height: 345px;
    left: 50%;
    width: 570px;
    top: 0px;
  }
  /* line 293, ../sass/carousel.scss */
  .pieImagenContainer .textoAutor {
    width: 480px;
  }
  /* line 296, ../sass/carousel.scss */
  .pieImagenContainer .imagen {
    width: 60px;
    height: 60px;
  }
}
/* Base styles */
/* line 31, ../sass/huerto.scss */
html body {
  font-family: helvetica;
}

/* line 35, ../sass/huerto.scss */
input {
  -webkit-appearance: none;
}

/* line 238, ../sass/huerto.scss */
.barralateral ul {
  background-color: #e4f1d5;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
}
/* line 241, ../sass/huerto.scss */
.barralateral ul li {
  border: none;
}
/* line 242, ../sass/huerto.scss */
.barralateral ul li:first-child a:hover {
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
}
/* line 246, ../sass/huerto.scss */
.barralateral ul li:last-child a:hover {
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* line 251, ../sass/huerto.scss */
.barralateral ul li a:link, .barralateral ul li a:visited, .barralateral ul li a:active {
  color: #666666;
}
/* line 254, ../sass/huerto.scss */
.barralateral ul li a:hover {
  background-color: #cbe4af;
}

/* line 263, ../sass/huerto.scss */
.embebido {
  position: relative;
}
/* line 266, ../sass/huerto.scss */
.embebido .marco {
  width: 100%;
  height: 500px;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
  -webkit-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid grey;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 100;
  pointer-events: none;
}
/* line 278, ../sass/huerto.scss */
.embebido iframe {
  pointer-events: auto;
  position: relative;
  width: 100%;
  border: none;
  height: 500px;
  top: 0px;
  left: 0px;
  z-index: 0;
}
/* line 288, ../sass/huerto.scss */
.embebido small {
  position: relative;
}

/* line 296, ../sass/huerto.scss */
.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  margin-bottom: 0px;
  background-color: #fff;
}
/* line 301, ../sass/huerto.scss */
.navbar .navbar-brand {
  font-family: latoregular;
}
/* line 306, ../sass/huerto.scss */
.navbar.affix, .navbar.navbar-fixed-top {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 15px;
}
/* line 309, ../sass/huerto.scss */
.navbar li a:link, .navbar li a:visited {
  color: #aaa;
}
/* line 311, ../sass/huerto.scss */
.navbar li a:link:hover, .navbar li a:visited:hover {
  color: #888;
}
/* line 315, ../sass/huerto.scss */
.navbar li.active a, .navbar li.active a:hover {
  color: #59812c;
  background-color: white;
}

/* line 321, ../sass/huerto.scss */
section.confondo {
  -webkit-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.15);
  background-color: #F8F8F8;
}
/* line 325, ../sass/huerto.scss */
section a:link, section a:visited, section a:active {
  color: #669433;
}
/* line 327, ../sass/huerto.scss */
section a:link:hover, section a:visited:hover, section a:active:hover {
  font-style: underline;
}
/* line 331, ../sass/huerto.scss */
section h1 {
  font-family: latoregular;
  font-weight: normal;
}
/* line 335, ../sass/huerto.scss */
section h2.subtitle {
  font-family: latoregular;
  color: #888;
}
/* line 339, ../sass/huerto.scss */
section h3 {
  font-family: latoregular;
  font-weight: normal;
}

/* line 349, ../sass/huerto.scss */
.boton.hidden-sm .btn {
  width: 320px;
}

/* line 356, ../sass/huerto.scss */
.sinfondo .boton .hidden-sm .btn {
  width: 320px;
  float: right;
}

/* line 364, ../sass/huerto.scss */
.boton .btn-lg {
  font-family: latoregular;
  font-weight: normal;
}
/* line 368, ../sass/huerto.scss */
.boton .btn-default {
  color: white;
  font-family: latoregular;
  background-color: #669433;
  border-color: #669433;
}
/* line 373, ../sass/huerto.scss */
.boton .btn-default i {
  margin-right: 10px;
}
/* line 376, ../sass/huerto.scss */
.boton .btn-default:hover {
  background-color: #73a73a;
}

/* formulario email */
/* line 385, ../sass/huerto.scss */
.formulario a {
  border-color: #ddd;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  font-weight: normal;
  background-color: #eee;
  border-color: #ddd;
  color: grey;
}
/* line 392, ../sass/huerto.scss */
.formulario a:link, .formulario a:visited, .formulario a:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px;
  color: grey;
}
/* line 396, ../sass/huerto.scss */
.formulario a:hover {
  border-color: #ddd;
  background-color: #d4d4d4;
  color: grey;
}

/* lista calendario */
/* line 406, ../sass/huerto.scss */
.listaCalendario .popover {
  max-width: none;
  left: 0px;
  min-height: 110px;
}
/* line 411, ../sass/huerto.scss */
.listaCalendario ol {
  margin-left: 0px;
  padding-left: 0px;
  list-style: none;
  list-style-position: inside;
  border-color: rgba(0, 0, 0, 0.4);
}
/* line 417, ../sass/huerto.scss */
.listaCalendario ol li {
  /*texttruncation*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /**/
  border-color: rgba(0, 0, 0, 0.2);
}
/* line 418, ../sass/huerto.scss */
.listaCalendario ol li time {
  font-style: italic;
}
/* line 427, ../sass/huerto.scss */
.listaCalendario ol li:last-child {
  border-color: rgba(0, 0, 0, 0.4);
}
/* line 430, ../sass/huerto.scss */
.listaCalendario ol li.pasada {
  opacity: 0.3;
}
/* line 435, ../sass/huerto.scss */
.listaCalendario a {
  line-height: 2.25em;
}

/* Footer */
/* line 443, ../sass/huerto.scss */
.footer {
  text-align: left;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
}
/* line 448, ../sass/huerto.scss */
.footer p {
  margin-bottom: 0;
  color: #777;
}
/* line 452, ../sass/huerto.scss */
.footer .footer-links {
  margin: 10px 0;
}
/* line 454, ../sass/huerto.scss */
.footer .footer-links li {
  display: inline;
  padding: 0 2px;
}
/* line 458, ../sass/huerto.scss */
.footer .footer-links li:first-child {
  padding-left: 0;
}

@media (max-width: 767px) {
  /* line 61, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 100%;
  }

  /* line 64, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 16px;
    line-height: 1.5em;
  }

  /* line 54, ../sass/huerto.scss */
  section.principal {
    margin-top: 0px;
    padding-top: 72px;
    padding-bottom: 72px;
    margin-bottom: 0px;
  }
  /* line 57, ../sass/huerto.scss */
  section.cabecera {
    margin-top: 0px;
    padding-top: 144px;
    padding-bottom: 120px;
    margin-bottom: 0px;
  }
  /* line 60, ../sass/huerto.scss */
  section.secundaria {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 72px;
    margin-bottom: 0px;
  }
  /* line 63, ../sass/huerto.scss */
  section.secundaria hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 66, ../sass/huerto.scss */
  section.secundaria .listaCalendario {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 69, ../sass/huerto.scss */
  section.secundaria .agradecimiento h3 {
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 72, ../sass/huerto.scss */
  section h1 {
    font-size: 35px;
    line-height: 42px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 76, ../sass/huerto.scss */
  section h2.subtitle {
    font-size: 21.632px;
    line-height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 80, ../sass/huerto.scss */
  section.confondo hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
  /* line 83, ../sass/huerto.scss */
  section h3 {
    font-size: 25.888px;
    line-height: 30px;
    margin-top: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 87, ../sass/huerto.scss */
  section ol {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 23px;
    margin-top: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 91, ../sass/huerto.scss */
  section li {
    font-size: 16px;
    line-height: 38px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 23px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 96, ../sass/huerto.scss */
  section p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 18px;
  }
  /* line 100, ../sass/huerto.scss */
  section small {
    top: 6px;
    font-size: 13.37px;
    line-height: 24px;
  }
  /* line 104, ../sass/huerto.scss */
  section .embebido {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 48px;
  }
  /* line 107, ../sass/huerto.scss */
  section hr {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 110, ../sass/huerto.scss */
  section .formulario {
    margin-top: 24px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 113, ../sass/huerto.scss */
  section.secundaria .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 116, ../sass/huerto.scss */
  section.confondo .boton {
    margin-top: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 119, ../sass/huerto.scss */
  section.sinfondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 122, ../sass/huerto.scss */
  section .barralateral {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 48px;
  }

  /* line 127, ../sass/huerto.scss */
  footer p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }

  /* line 470, ../sass/huerto.scss */
  .visible-mediano {
    display: none;
  }

  /* line 473, ../sass/huerto.scss */
  .visible-grande {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  /* line 61, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 100%;
  }

  /* line 64, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 149, ../sass/huerto.scss */
  section.principal {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 152, ../sass/huerto.scss */
  section.cabecera {
    margin-top: 0px;
    padding-top: 144px;
    padding-bottom: 120px;
    margin-bottom: 0px;
  }
  /* line 155, ../sass/huerto.scss */
  section.secundaria {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 72px;
    margin-bottom: 0px;
  }
  /* line 158, ../sass/huerto.scss */
  section.secundaria hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 161, ../sass/huerto.scss */
  section.secundaria .listaCalendario {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 164, ../sass/huerto.scss */
  section.secundaria .agradecimiento h3 {
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 167, ../sass/huerto.scss */
  section h1 {
    font-size: 35px;
    line-height: 42px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 171, ../sass/huerto.scss */
  section h2.subtitle {
    font-size: 21.632px;
    line-height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 175, ../sass/huerto.scss */
  section.sinfondo {
    min-height: 288px;
  }
  /* line 178, ../sass/huerto.scss */
  section.confondo hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
  /* line 181, ../sass/huerto.scss */
  section h3 {
    font-size: 25.888px;
    line-height: 30px;
    margin-top: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 185, ../sass/huerto.scss */
  section ol {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 23px;
    margin-top: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 189, ../sass/huerto.scss */
  section li {
    font-size: 16px;
    line-height: 38px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 23px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 194, ../sass/huerto.scss */
  section p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 12px;
  }
  /* line 198, ../sass/huerto.scss */
  section small {
    top: 6px;
    font-size: 13.37px;
    line-height: 24px;
  }
  /* line 202, ../sass/huerto.scss */
  section .embebido {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 72px;
  }
  /* line 205, ../sass/huerto.scss */
  section hr {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 208, ../sass/huerto.scss */
  section .formulario {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 211, ../sass/huerto.scss */
  section.secundaria .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 214, ../sass/huerto.scss */
  section.confondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 217, ../sass/huerto.scss */
  section.sinfondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 220, ../sass/huerto.scss */
  section .barralateral {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 48px;
  }

  /* line 225, ../sass/huerto.scss */
  footer p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }

  /* line 480, ../sass/huerto.scss */
  .visible-mediano {
    display: none;
  }

  /* line 483, ../sass/huerto.scss */
  .visible-grande {
    display: none;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* line 61, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 100%;
  }

  /* line 64, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 149, ../sass/huerto.scss */
  section.principal {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 152, ../sass/huerto.scss */
  section.cabecera {
    margin-top: 0px;
    padding-top: 144px;
    padding-bottom: 120px;
    margin-bottom: 0px;
  }
  /* line 155, ../sass/huerto.scss */
  section.secundaria {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 72px;
    margin-bottom: 0px;
  }
  /* line 158, ../sass/huerto.scss */
  section.secundaria hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 161, ../sass/huerto.scss */
  section.secundaria .listaCalendario {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 164, ../sass/huerto.scss */
  section.secundaria .agradecimiento h3 {
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 167, ../sass/huerto.scss */
  section h1 {
    font-size: 35px;
    line-height: 42px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 171, ../sass/huerto.scss */
  section h2.subtitle {
    font-size: 21.632px;
    line-height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 175, ../sass/huerto.scss */
  section.sinfondo {
    min-height: 288px;
  }
  /* line 178, ../sass/huerto.scss */
  section.confondo hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
  /* line 181, ../sass/huerto.scss */
  section h3 {
    font-size: 25.888px;
    line-height: 30px;
    margin-top: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 185, ../sass/huerto.scss */
  section ol {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 23px;
    margin-top: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 189, ../sass/huerto.scss */
  section li {
    font-size: 16px;
    line-height: 38px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 23px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 194, ../sass/huerto.scss */
  section p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 12px;
  }
  /* line 198, ../sass/huerto.scss */
  section small {
    top: 6px;
    font-size: 13.37px;
    line-height: 24px;
  }
  /* line 202, ../sass/huerto.scss */
  section .embebido {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 72px;
  }
  /* line 205, ../sass/huerto.scss */
  section hr {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 208, ../sass/huerto.scss */
  section .formulario {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 211, ../sass/huerto.scss */
  section.secundaria .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 214, ../sass/huerto.scss */
  section.confondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 217, ../sass/huerto.scss */
  section.sinfondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 220, ../sass/huerto.scss */
  section .barralateral {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 48px;
  }

  /* line 225, ../sass/huerto.scss */
  footer p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }

  /* line 490, ../sass/huerto.scss */
  .visible-mediano {
    display: block;
  }

  /* line 493, ../sass/huerto.scss */
  .visible-grande {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* line 61, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 100%;
  }

  /* line 64, ../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 149, ../sass/huerto.scss */
  section.principal {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 152, ../sass/huerto.scss */
  section.cabecera {
    margin-top: 0px;
    padding-top: 144px;
    padding-bottom: 120px;
    margin-bottom: 0px;
  }
  /* line 155, ../sass/huerto.scss */
  section.secundaria {
    margin-top: 0px;
    padding-top: 48px;
    padding-bottom: 72px;
    margin-bottom: 0px;
  }
  /* line 158, ../sass/huerto.scss */
  section.secundaria hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 161, ../sass/huerto.scss */
  section.secundaria .listaCalendario {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }
  /* line 164, ../sass/huerto.scss */
  section.secundaria .agradecimiento h3 {
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 0px;
  }
  /* line 167, ../sass/huerto.scss */
  section h1 {
    font-size: 35px;
    line-height: 42px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 171, ../sass/huerto.scss */
  section h2.subtitle {
    font-size: 21.632px;
    line-height: 30px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 175, ../sass/huerto.scss */
  section.sinfondo {
    min-height: 288px;
  }
  /* line 178, ../sass/huerto.scss */
  section.confondo hgroup {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 24px;
  }
  /* line 181, ../sass/huerto.scss */
  section h3 {
    font-size: 25.888px;
    line-height: 30px;
    margin-top: 18px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 6px;
  }
  /* line 185, ../sass/huerto.scss */
  section ol {
    border-top-style: solid;
    border-top-width: 1px;
    padding-top: 23px;
    margin-top: 12px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 189, ../sass/huerto.scss */
  section li {
    font-size: 16px;
    line-height: 38px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 23px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 194, ../sass/huerto.scss */
  section p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 12px;
  }
  /* line 198, ../sass/huerto.scss */
  section small {
    top: 6px;
    font-size: 13.37px;
    line-height: 24px;
  }
  /* line 202, ../sass/huerto.scss */
  section .embebido {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 72px;
  }
  /* line 205, ../sass/huerto.scss */
  section hr {
    margin-top: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 208, ../sass/huerto.scss */
  section .formulario {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 211, ../sass/huerto.scss */
  section.secundaria .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 214, ../sass/huerto.scss */
  section.confondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 217, ../sass/huerto.scss */
  section.sinfondo .boton {
    margin-top: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  /* line 220, ../sass/huerto.scss */
  section .barralateral {
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 48px;
  }

  /* line 225, ../sass/huerto.scss */
  footer p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 48px;
    margin-bottom: 0px;
  }

  /* line 500, ../sass/huerto.scss */
  .visible-mediano {
    display: none;
  }

  /* line 503, ../sass/huerto.scss */
  .visible-grande {
    display: block;
  }
}
