@import "compass/css3";
@import "compass/utilities/general/clearfix";
@import "compass/typography/vertical_rhythm";
@import "carousel";


@mixin whiteGradientBackgroundHorizontal{
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.0) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-st5p(40%,rgba(255,255,255,0.91)), color-stop(60%,rgba(255,255,255,0.0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.0) 60%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.0) 60%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.0) 60%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.0) 60%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}


@mixin whiteGradientBackgroundVertical{
background: -webkit-linear-gradient(bottom, rgba(255,255,255,0) 0,rgba(255,255,255,0.0) 380px,rgba(255,255,255,1.0) 480px,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
}




/* Base styles */
//
//

$colorLinks: #669433;

html body{
  font-family: helvetica;
}

input {
  -webkit-appearance: none;
}


.principal.confondo#estapasando{
  background-image: url("../img/actividades_estatico.jpg");
  @include background-size(1950px auto);
  background-position: center center;
  background-repeat: no-repeat;
}


@mixin typographyPhone{
  //typography vertical rythm - Goldenratio
  $base-font-size: 16px;
  $base-line-height: 24px;
  $h1-size: 35px;
  $h2subheader-size: 21.632px;
  $h3-size: 25.888px;
  $small-size: 13.370px;
  $relative-font-sizing: false;
  @include establish-baseline;
  html, body{
    $font-unit: $base-font-size;
  }
  section {
    &.principal{
      @include rhythm(0, 3, 3, 0, $base-font-size);
    }
    &.cabecera{
    }
    &.secundaria{
      @include rhythm(0, 2, 3, 0, $base-font-size);
    }
    &.secundaria hgroup{
      @include rhythm(0, 0, 1, 0, $base-font-size);
    }
    &.secundaria .listaCalendario{
      @include rhythm(0, 0, 2, 0, $base-font-size);
    }
    &.secundaria .agradecimiento h3{
      @include rhythm(0, 1, 1, 0, $base-font-size);
    }
    h1{
      @include adjust-font-size-to($h1-size, 1.75);
      @include rhythm(0, 0, 0, 0.25, $base-font-size);
    }
    h2.subtitle{
      @include adjust-font-size-to($h2subheader-size, 1.25);
      @include rhythm(0, 0, 0, 0, $base-font-size);
    }
    &.confondo hgroup{
      @include rhythm(0, 0, 0, 1, $base-font-size);
    }
    h3{
      @include adjust-font-size-to($h3-size, 1.25);
      @include rhythm(0.75, 0, 0, 0.25, $base-font-size);
    }
    ol{
      @include leading-border();
      @include rhythm(0.5, 0, 0, 0, $base-font-size);
    }
    li{
      @include adjust-font-size-to($base-font-size,1.6);
      @include trailing-border();
      @include rhythm(0, 0, 0, 0, $base-font-size);
    }
    p{
      @include adjust-font-size-to($base-font-size);
      @include rhythm(0, 0, 0, 0.75, $base-font-size);
    }
    small{
      top: rhythm(0.25);
      @include adjust-font-size-to($small-size);
    }
    .embebido{
      @include rhythm(1.25, 0, 0, 2, $base-font-size);
    }
    hr{
      @include rhythm(1.25, 0, 0, 0, $base-font-size);
    }
    .formulario{
      @include rhythm(1, 0, 0, 0, $base-font-size);
    }
    &.secundaria .boton{
      @include rhythm(1.5, 0, 0, 0, $base-font-size);
    }
    &.confondo .boton{
      @include rhythm(2.5, 0, 0, 0, $base-font-size);
    }
    &.sinfondo .boton{
      @include rhythm(1.5, 0, 0, 0, $base-font-size);
    }
    .barralateral{
      @include rhythm(0, 0, 0, 2, $base-font-size);
    }
  }
  footer{
    p{
      @include adjust-font-size-to($base-font-size, 1);
      @include rhythm(0, 1, 2, 0, $base-font-size);
    }
  }
  //typography vertical rythm - Goldenratio
}

@mixin typographyRest{
  //typography vertical rythm - Goldenratio
  $base-font-size: 16px;
  $base-line-height: 24px;
  $h1-size: 35px;
  $h2subheader-size: 21.632px;
  $h3-size: 25.888px;
  $small-size: 13.370px;
  $relative-font-sizing: false;
  @include establish-baseline;
  html, body{
    $font-unit: $base-font-size;
  }
  section {
    &.principal{
      @include rhythm(0, 2, 2, 0, $base-font-size);
    }
    &.cabecera{
      @include rhythm(0, 6, 5, 0, $base-font-size);
    }
    &.secundaria{
      @include rhythm(0, 2, 3, 0, $base-font-size);
    }
    &.secundaria hgroup{
      @include rhythm(0, 0, 1, 0, $base-font-size);
    }
    &.secundaria .listaCalendario{
      @include rhythm(0, 0, 2, 0, $base-font-size);
    }
    &.secundaria .agradecimiento h3{
      @include rhythm(0, 1, 1, 0, $base-font-size);
    }
    h1{
      @include adjust-font-size-to($h1-size, 1.75);
      @include rhythm(0, 0, 0, 0.25, $base-font-size);
    }
    h2.subtitle{
      @include adjust-font-size-to($h2subheader-size, 1.25);
      @include rhythm(0, 0, 0, 0, $base-font-size);
    }
    &.sinfondo{
      min-height: rhythm(12, $base-font-size);
    }
    &.confondo hgroup{
      @include rhythm(0, 0, 0, 1, $base-font-size);
    }
    h3{
      @include adjust-font-size-to($h3-size, 1.25);
      @include rhythm(0.75, 0, 0, 0.25, $base-font-size);
    }
    ol{
      @include leading-border();
      @include rhythm(0.5, 0, 0, 0, $base-font-size);
    }
    li{
      @include adjust-font-size-to($base-font-size,1.6);
      @include trailing-border();
      @include rhythm(0, 0, 0, 0, $base-font-size);
    }
    p{
      @include adjust-font-size-to($base-font-size);
      @include rhythm(0, 0, 0, 0.5, $base-font-size);
    }
    small{
      top: rhythm(0.25);
      @include adjust-font-size-to($small-size);
    }
    .embebido{
      @include rhythm(1.25, 0, 0, 3, $base-font-size);
    }
    hr{
      @include rhythm(1.25, 0, 0, 0, $base-font-size);
    }
    .formulario{
      @include rhythm(1.5, 0, 0, 0, $base-font-size);
    }
    &.secundaria .boton{
      @include rhythm(1.5, 0, 0, 0, $base-font-size);
    }
    &.cabecera.confondo{
      @include rhythm(0, 6, 0, 0, $base-font-size);
    }
    &.confondo .boton{
      @include rhythm(1.5, 0, 0, 0, $base-font-size);
    }
    &.sinfondo .boton{
      @include rhythm(1.5, 0, 0, 0, $base-font-size);
    }
    .barralateral{
      @include rhythm(0, 0, 0, 2, $base-font-size);
    }
  }
  footer{
    p{
      @include adjust-font-size-to($base-font-size, 1);
      @include rhythm(0, 1, 2, 0, $base-font-size);
    }
  }
  //typography vertical rythm - Goldenratio
}





.barralateral{
  ul{
    background-color: lighten($colorLinks, 50%);
    @include border-radius(8px, 8px);
    li{
      &:first-child a:hover{
        @include border-top-right-radius(8px);
        @include border-top-left-radius(8px);
      }
      &:last-child a:hover{
        @include border-bottom-right-radius(8px);
        @include border-bottom-left-radius(8px);
      }
      border: none;
      a:link, a:visited, a:active{
        color: lighten(rgb(51,51,51),20%);
      }
      a:hover{
        background-color: lighten($colorLinks, 40%);
      }
    }
  }
}



.embebido{
  $altura: 500px;
  position: relative;
  .marco{
    width:100%;
    height: $altura;
    @include border-radius(8px, 8px);
    @include single-box-shadow(rgba(0,0,0,0.25), 0px, 0px, 15px, false, true);
    border: 1px solid grey;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    pointer-events: none;
  }
  iframe{
    pointer-events: auto;
    position: relative;
    width:100%;
    border:none;
    height: $altura;
    top: 0px;
    left: 0px;
    z-index: 0;
  }
  small{
    position: relative;
  }
}




.navbar{
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  .navbar-brand{
    font-family: latoregular;
  }
  margin-bottom: 0px;
  background-color: #fff;
  &.affix, &.navbar-fixed-top {
    @include box-shadow(rgba(0,0,0,0.3) 0px 0px 15px);
  }
  li a:link, li a:visited {
    color: #aaa;
    &:hover{
      color: #888;
    }
  }
  li.active a, li.active a:hover{
    color: darken($colorLinks, 5%);
    background-color: white;
  }
}
section {
  &.confondo{
    @include single-box-shadow(rgba(0,0,0,0.15), 0px, 0px, 25px, false, true);
    &.gris{
      background-color: #F8F8F8;
    }
  }
  a:link, a:visited, a:active{
    color: $colorLinks;
    &:hover{
      font-style: underline;
    }
  }
  h1{
    font-family: latoregular;
    font-weight: normal;
  }
  h2.subtitle{
    font-family: latoregular;
    color: #888;
  }
  h3{
    font-family: latoregular;
    font-weight: normal;
  }
}


// estilos para los botones //
// especifico una anchura determinada para todos los botones en las vistas tablet, mediana y grande
.boton.hidden-sm{
  .btn{
    width: 320px;
  }
}
// en las secciones sin fondo los botones van a la derecha y con margen superior
.sinfondo{
  .boton .hidden-sm{
    .btn{
      width: 320px;
      float: right;
    }
  }
}
// estilos para el boton
.boton{
  .btn-lg{
    font-family: latoregular;
    font-weight: normal;
  }
  .btn-default{
    color: white;
    font-family: latoregular;
    background-color: $colorLinks;
    border-color: $colorLinks;
    i{
      margin-right: 10px;
    }
    &:hover{
      background-color: lighten($colorLinks,5%);
    }
  }
}


/* formulario email */
.formulario{
  a{
    border-color: #ddd;
    @include box-shadow(rgba(0,0,0,0) 0px 0px 0px);
    font-weight: normal;
    background-color: #eee;
    border-color: #ddd;
    color: grey;
    &:link, &:visited, &:active{
      @include box-shadow(rgba(0,0,0,0) 0px 0px 0px);
      color: grey;
    }
    &:hover{
      border-color: #ddd;
      background-color: darken(#eee,10%);
      color: grey;
    }
  }
}

/* lista calendario */
.listaCalendario{
  .popover{
    max-width: none;
    left:0px;
    min-height: 110px;
  }
  ol{
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
    list-style-position: inside;
    border-color: rgba(black,0.4);
    li{
      time{
        font-style: italic;
      }
      /*texttruncation*/
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      /**/
      border-color: rgba(black,0.2);
      &:last-child{
        border-color: rgba(black,0.4);
      }
      &.pasada{
        opacity: 0.3;
      }
    }
  }
  a{
    line-height: 2.25em;
  }
}



/* Footer */
.footer {
  text-align: left;
  padding: 30px 0;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
  p {
    margin-bottom: 0;
    color: #777;
  }
  a:link, a:visited, a:active{
    color: $colorLinks;
    &:hover{
      font-style: underline;
    }
  }
  .footer-links {
    margin: 10px 0;
    li {
      display: inline;
      padding: 0 2px;
    }
    li:first-child {
      padding-left: 0;
    }
  }
}



// Media queries //
//Phone
@media (max-width: 767px) {
  @include typographyPhone;
  .visible-mediano{
    display: none;
  }
  .visible-grande{
    display:none;
  }
  .principal.confondo#quees{
      position:relative;
      background-image: none;
      overflow: hidden;
      hgroup{
        padding-bottom: 28%;
      }
  }
  .principal.confondo#quees:after{
    content:"";
    position:absolute;
    top:-11%;
    left:0;
    right:0;
    bottom:0;
    background-image: url("../img/mapa_estatico.jpg");
    @include background-size(2550px auto);
    background-position: top center;
    background-repeat: no-repeat;
    z-index:-200;
  }
}
//Tablets
@media (min-width: 768px) and (max-width: 990px) {
  @include typographyRest;
  .visible-mediano{
    display: none;
  }
  .visible-grande{
    display:none;
  }
  .principal.confondo#quees{
      position:relative;
      background-image: none;
      overflow: hidden;
  }
  .principal.confondo#quees:after{
    content:"";
    position:absolute;
    top:-290px;
    left:0;
    right:-550px;
    bottom:0;
    background-image: url("../img/mapa_estatico.jpg");
    @include background-size(2550px auto);
    background-position: center center;
    background-repeat: no-repeat;
    z-index:-200;
  }
}
//Normal screens
@media (min-width: 991px) and (max-width: 1199px) {
  @include typographyRest;
  .visible-mediano{
    display: block;
  }
  .visible-grande{
    display:none;
  }
  .principal.confondo#quees{
      position:relative;
      background-image: none;
      overflow: hidden;
  }
  .principal.confondo#quees:after{
    content:"";
    position:absolute;
    top:-240px;
    left:0;
    right:-470px;
    bottom:0;
    background-image: url("../img/mapa_estatico.jpg");
    @include background-size(2550px auto);
    background-position: center center;
    background-repeat: no-repeat;
    z-index:-200;
  }
}
//Big screens
@media (min-width: 1200px) {
  @include typographyRest;
  .visible-mediano{
    display: none;
  }
  .visible-grande{
    display: block;
  }
  .principal.confondo#quees{
      position:relative;
      background-image: none;
      overflow: hidden;
  }
  .principal.confondo#quees:after{
    content:"";
    position:absolute;
    top:-240px;
    left:0;
    right:-640px;
    bottom:0;
    background-image: url("../img/mapa_estatico.jpg");
    @include background-size(2550px auto);
    background-position: center center;
    background-repeat: no-repeat;
    z-index:-200;
  }
}
