@import "compass/css3";
@import "compass/utilities/general/clearfix";

@mixin whiteGradientBackground{
background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.95) 40%, rgba(255,255,255,0.0) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-st5p(40%,rgba(255,255,255,0.91)), color-stop(60%,rgba(255,255,255,0.0)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.0) 60%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.0) 60%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.0) 60%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0.95) 40%,rgba(255,255,255,0.0) 60%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

/* Carousel base class */
$carouselHeight: 690px/2;
$imageCaptionSize: 80px;


.pieImagenContainer{
  z-index: 4;
  top: 0px;
  left: 50%;
  position: absolute;
  height:$carouselHeight;
  display: table;
  //Tablets
  @media (min-width: 768px) {
    width: 364px;
    .textoAutor{
      width: 364px - $imageCaptionSize;
    }
  }
  //Normal screens
  @media (min-width: 980px) {
    width: 480px;
    .textoAutor{
      width: 480px - $imageCaptionSize;
    }
  }
  //Big screens
  @media (min-width: 1200px) {
    width: 570px;
    .textoAutor{
      width: 570px - $imageCaptionSize;
    }
  }
  .pieImagen{
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
    line-height: 24px;
    font-family: latoregular;
    @include clearfix;
    .imagenAutor{
      float: right;
      width: $imageCaptionSize;
      @include clearfix;
      .imagen{
        clear: both;
        display: table-cell;
        vertical-align: middle;
        background-color: rgb(128,128,128);
        width: $imageCaptionSize;
        height: $imageCaptionSize;
        border: 2px solid white;
        @include border-radius($imageCaptionSize/2, $imageCaptionSize/2);
        @include background-size(cover);
        @include box-shadow(rgba(0,0,0,0.3) 0px 0px 5px);
        background-position: center center;
        background-repeat: no-repeat;
      }
    }
    .textoAutor{
      float: left;
      text-align: right;
      display: block;
      @include box-sizing (border-box);
      padding-right: 20px;
      .texto{
        padding-right: 20px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        border-width: 1px;
        border-style: solid;
        border-bottom-style: none;
        border-top-style: none;
        border-left-style: none;
        .titulo{
          font-family: latobold;
        }
        .fecha{
          font-family: latoitalic;
        }
      }
    }
  }
}











.carousel {
  overflow: hidden;
  .carousel .item {
    height:$carouselHeight;
    overflow: hidden;
  }
  .mascaraColor{
    z-index: 2;
    top: 0px;
    left: 50%;
    position: absolute;
    height: 100%;
    //Tablets
    @media (min-width: 768px) {
      width: 768px+200px;
      margin-left: -(768px+200px)/2;
    }
    //Normal screens
    @media (min-width: 980px) {
      width: 980px+200px;
      margin-left: -(980px+200px)/2;
    }
    //Big screens
    @media (min-width: 1200px) {
      width: 1200px+200px;
      margin-left: -(1200px+200px)/2;
    }
  }
  .carousel-inner{
    margin-left: auto;
    margin-right: auto;
    //Tablets
    @media (min-width: 768px) {
      width:768px+200px;
    }
    //Normal screens
    @media (min-width: 980px) {
      width:980px+200px;
    }
    //Big screens
    @media (min-width: 1200px) {
      height:$carouselHeight;
      width:1200px+200px;
    }

  }
  .image {
    //Tablets
    @media (min-width: 768px) {
      height:$carouselHeight;
      @include background-size(auto 100%);
      background-position: left center;
      background-repeat: no-repeat;
    }
    //Normal screens
    @media (min-width: 980px) {
      height:$carouselHeight;
      @include background-size(70% auto);
      background-position: left center;
      background-repeat: no-repeat;
    }
    //Big screens
    @media (min-width: 1200px) {
      height:$carouselHeight;
      @include background-size(900px auto);
      background-position: left center;
      background-repeat: no-repeat;
    }
  }
}



.carousel {
  margin-bottom: 0px;
}
.carousel-control {
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  font-family: latohairline;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: white;
  text-align: center;
  background: #222;
  border: 3px solid white;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}




/*  jumbotron and subhead */
/* Subhead (other pages)
------------------------- */
.jumbotron {
  position: relative;
  padding: 40px 0;
  color: #000;
  text-align: center;
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/bs-docs-masthead-pattern.png) repeat center center;
  opacity: .4;
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1) {

  .jumbotron:after {
    background-size: 150px 150px;
  }

}
.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 60px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}

/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}


/* Footer
-------------------------------------------------- */

.footer {
  text-align: left;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #fff;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  padding: 0 2px;
}
.footer-links li:first-child {
  padding-left: 0;
}




/* Logo optimization */
#logo{
  position: absolute;
  bottom: 100px;
  width: 100%;
  height: 80px;
  background-color: white;
  -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
        border-radius: 6px;
  h1, p{
    display: none;
  }
}


/* general styles */
html body{
  font-family: helvetica;
  font-size: 16px;
  line-height: 24px;
}
section {

  &.sinfondo{
    background-color: #fff;
  }
  h1{
    font-family: latoregular;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 0px;
  }
  h2.subtitle{
    margin-top: 10px;
    font-family: helvetica;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #999999;
  }
  h3{
    font-family: latoregular;
    font-weight: normal;
    font-size: 25px;
    margin-bottom: 10px;
  }
  &{
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

#quees{
  overflow: hidden;
  .imagenFondo{
    background: url(/img/planoHuertoFuensanta.png);
    background-repeat: no-repeat;
    background-position: center center !important;
    background-color: rgb(245,243,233);
    @media (min-width: 768px) {
      background-size: auto 100% !important;
      left: 150px;
    }
    //Normal screens
    @media (min-width: 980px) {
      background-size: 980px auto !important;
      left: 200px;
    }
    //Big screens
    @media (min-width: 1200px) {
      background-size: 1200px auto !important;
      left: 250px;
    }
  }
}

/* lista calendario */
#estapasando{
  .listaCalendario{
    ol{
      margin: 0px;
      list-style: none;
      list-style-position: inside;
      border-top: 1px solid rgba(black,0.4);
      li{
        /*texttruncation*/
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        /**/
        line-height: 2.25em;
        border-bottom: 1px solid rgba(black,0.2);
        &:last-child{
          border-bottom: 1px solid rgba(black,0.4);
        }
      }
    }
    a{
      line-height: 2.25em;
    }
  }
}

/* visor de imagenes */
section{
  &.confondo{
    //Tablets
    @media (max-width: 767px) {
      
    }
    //Normal screens
    @media (min-width: 768px) {
      @include single-box-shadow(rgba(0,0,0,0.15), 0px, 0px, 25px, false, true);
    }
  }
  position: relative;
  .container{
  }
  .imagenFondo{
    top:0px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -800;
    -webkit-background-size: 100% auto!important;
    background-size: 100% auto!important;
    background-position: center center;
    background-repeat: no-repeat;
    //Tablets
    @media (max-width: 989px) {
      -webkit-background-size: auto 100%!important;
      background-size: auto 100%!important;
    }
    //Normal screens
    @media (min-width: 990px) {
      -webkit-background-size: 100% auto!important;
      background-size: 100% auto!important;
    }
  }
  .mascaraFondo{
    top:0px;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -500;
    @include whiteGradientBackground;
  }
}




/* navegador actividades */
/**/
/* posicionamiento del boton */
#estapasando{
  .row{
    position: relative;
    .span6:last-child{
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
  }
}
/* estilos del boton */
.navegadorActividades{
  @include box-sizing (border-box);
  width:100%;
  padding:0px;
  margin:0px;
  .btn-group{
    width:100%;
    .btn{
      font-size: 16px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .btn.retroceder, .btn.avanzar{
      @include box-sizing (border-box);
      width:15%;
      
    }
    .btn.titulo{
      @include box-sizing (border-box);
      width:70%;
      /*texttruncation*/
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      /**/
    }
  }
}
.navbar{
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 2000;
  .navbar-inner{
    //background-color: white;
    //background-image: none;
  }
  
}