---
title: Inicio
slug: inicio
icono: icon-home
permalink: /
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fuerto Fuenstanta · Inicio</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/huerto.css" rel="stylesheet">
    <link href="/css/fonts/stylesheet.css" rel="stylesheet">
    <!-- fontawasome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Carousel bootstrap para personalizar con Flickr-->
    <div id="myCarousel" class="carousel slide carousel-fade" style="background-color: grey">
      <!-- Template tpl-flickrimages AQUI! -->
      <div class="carousel-inner" id="carousel-innerTpl">
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <!-- include navbar -->
    {% include _navbar.html %}
    <section class="confondo" id="quees">
      <div class="container">
        <!-- Que es el huerto fuensanta -->
        <div class="row">
          <div class="col-sm-6">
            <hgroup>
              <h1>¿Qué es el huerto fuensanta?</h1>
              <h2 class="subtitle">El Huerto Fuesanta recupera un espacio público abandonado del barrio de la Fuensanta en Córdoba</h2>
            </hgroup>
            <div class="descripcion">
              <h3>¿Cómo funciona?</h3>
              <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
              <div class="boton">
                <div class="visible-sm">
                  <a href="#" class="btn btn-block btn-large btn-default"><i class="icon-info-sign icon-large"></i> Ir a información</a>
                </div>
                <div class="hidden-sm">
                  <a href="#" class="btn btn-large btn-default"><i class="icon-info-sign icon-large"></i> Ir a información</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="notaMapa">
              <h3>¿Dónde está?</h3>
              <p>El Huerto Fuesanta se encuentra en el solar público de la calle Hernando de Magallanes, todos los días hay gente allí pero los Lunes por la tarde solemos reunirnos más gente. ¡Pásate y te contamos más!</p>
            </div>
            <div class="suscripcion-lista">
              <h3>¿Te apuntas?</h3>
              <p>¿Quieres participar? El Huerto Fuensanta está abierto a todo el mundo, pásate un lunes por la tarde (invierno a partir de las 18:00 y en verano a partir de las 20:30) o <a data-toggle="modal" href="#myModal">apúntante a la lista de correo</a> para ponerte en contacto con nosotros ¡Bienvenido!</p>
              <!-- Modal -->
              <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                      <p>El Huerto Fuesanta se encuentra en el solar público de la calle Hernando de Magallanes, todos los días hay gente allí pero los Lunes por la tarde solemos reunirnos más gente. ¡Pásate y te contamos más!</p>
                      <div class="input-group">
                        <input class="form-control" id="appendedInputButton" type="email" value="introduce tu email">
                        <span class="input-group-btn">
                          <button class="btn btn-default" type="button">Forma parte</button>
                        </span>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cierra la ventana</button>
                    </div>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div><!-- /.modal -->
            </div>
          </div>
        </div>
      </div>
      <div class="mascaraFondo hidden-sm"></div>
      <div class="imagenFondo hidden-sm"></div>
      <div class="mascaraFondoPhone visible-sm"></div>
      <div class="imagenFondoPhone visible-sm"></div>
    </section>

    <section class="sinfondo" id="gestion">
      <div class="container">
        <!-- La gestion en el huerto fuensanta -->
        <div class="row" >
          <div class="col-12 col-sm-6">
            <hgroup>
              <h1>Participa en la gestión</h1>
              <h2 class="subtitle">Toda la gestión del huerto se recoge en el diario y las cuentas del huerto, la información es abierta y con acceso público</h2>
            </hgroup>
          </div>
          <div class="col-12 col-sm-6">
            <div class="boton">
              <div class="visible-sm">
                <a href="#" class="btn btn-block btn-large btn-default"><i class="icon-edit icon-large"></i> Ir a gestión</a>
              </div>
              <div class="hidden-sm">
                <a href="#" id="botonCreditos" class="btn btn-large btn-default"><i class="icon-edit icon-large"></i> Ir a gestión</a>
              </div>
            </div>
            <!--
            <div class="row" id="diario">
              <div class="col-9">
                <h3>Diario del #huertoFuensanta</h3>
                <p>Aquí apuntamos las tareas de mantenimiento habituales. Todo el mundo puede editar el documento, ¿A qué esperas?</p>
              </div>
              <div class="col-3">
                <img class="icono" src="img/icon_docs.png">
              </div>
            </div>
            <div class="row" id="diario">
              <div class="col-9">
                <h3>Cuentas #HuertoFuensanta</h3>
                <p>Aquí apuntamos las cuentas del huerto fuensanta, de qué dinero se dispone y en que se ha gastado.</p>
              </div>
              <div class="col-3">
                <img class="icono" src="img/icon_spreadsheet.png">
              </div>
            </div>
          -->
          </div>
        </div>
      </div>
    </section>

    <section class="confondo" id="estapasando" style="">
      <div class="container">
        <!-- Esta pasando -->
        <div class="row" >
          <div class="col-sm-6" id="actividadesfuturas">
            <hgroup>
              <h1>Está pasando…</h1>
              <h2 class="subtitle">Numerosas actividades se organizan en el Huerto Fuensanta ¡Tu también puedes participar!</h2>
            </hgroup>
            <div class="descripcion">
              <h3>¿Puedo organizar una actividad en el huerto?</h3>
              <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
            </div>
            <div class="boton">
              <div class="visible-sm">
                <a href="#" class="btn btn-block btn-large btn-default"><i class="icon-calendar icon-large"></i>  Ir a actividades</a>
              </div>
              <div class="hidden-sm">
                <a href="#" class="btn btn-large btn-default"><i class="icon-calendar icon-large"></i>  Ir a actividades</a>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <!-- Template tpl-GoogleEvents AQUI! -->
            <div id="actividadesfuturasTpl"></div> 
          </div>
        </div>
      </div>
      <div class="mascaraFondo" ></div>
      <div class="imagenFondo" style="background: url(http://farm3.staticflickr.com/2841/9033255329_3b0206398b_k.jpg)"></div>
    </section>
    <section class="sinfondo" id="gestion">
      <div class="container">
        <div class="row" >
          <div class="col-sm-6">
            <hgroup>
              <h1>¡Gracias por todo!</h1>
              <h2 class="subtitle">El Huerto Fuensanta es posible gracias al trabajo y la colaboración de muchas personas y organizaciones</h2>
            </hgroup>
          </div>
          <div class="col-sm-6">
            <div class="boton">
              <div class="visible-sm">
                <a href="#" class="btn btn-block btn-large btn-default"><i class="icon-smile icon-large"></i> Ir a agradecimientos</a>
              </div>
              <div class="hidden-sm">
                <a href="#" id="botonCreditos" class="btn btn-large btn-default"><i class="icon-smile icon-large"></i> Ir a agradecimientos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- include footer -->
    {% include _footer.html %}
  </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <!-- script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript"></script-->
    <script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/handlebars.js"></script>
    <script src="/js/color.js"></script>
    <script src='https://www.google.com/jsapi'></script>
    <script src='/js/reqwest.js'></script>
    <!-- Nuestros Javascript -->
    <script src="/js/google-drive-spreadsheet.js"></script>
    <script src="/js/huerto.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel({
              interval: 30000
            })
        })
      }(window.jQuery)
    </script>
    
  </body>
</html>
