---
title: Agradecimientos
slug: agradecimientos
icono: icon-smile
permalink: agradecimientos/

cabecera: "¡Gracias por todo!"
cabecera-subtitulo: "El Huerto Fuensanta es posible gracias al trabajo y la colaboración de muchas personas y organizaciones"

titulo: "Agradecimientos"
subtitulo: "Gracias al trabajo en equipo y la generosidad de multitud de personas, colectivos y asociaciones el solar abandonado del antiguo cine Fuensanta ha pasado a ser motivo de orgullo de los vecinos del barrio y un ejemplo de éxito de gestión ciudadana del espacio público en Córdoba"

agradecimientos:
  
  - agradecimiento:
    titulo: "Semillas honoríficas de Goteo.org en Febrero 2013"
    descripcion: "En febrero de 2013 organizamos <a href='http://goteo.org/project/huerto-fuensanta'>una campaña de 'crowdfunding' a través Goteo.org</a>. Estás son las personas, asociaciones y empresas que se convirtieron en las semillas honoríficas del Huerto Fuensanta con su aportación. Muchísimas gracias a:"
    gracias: {  "Agenda Cordobesa", "Aquilino", "coSfera", "Cuello", "FJDomínguezM", "Kisko García Choco Restaurante", "Juan Robert Hernández", "Hotel Abadi", "José Larios", "Lola GastroJardín", "Maria Luisa", "Jose Moreno Moreno", "Antonio Nevado", "Gerardo Pedrós", "Planem Ing Arq Urb", "José Carlos Rico" }

---
<html lang="es">
  <head>
  <!-- include head -->
  {% include _head.html%}
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  <!-- include navbar -->
  {% include _navbar.html %}
    <!-- Subhead -->
    <section class="cabecera confondo">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <hgroup>
              <h1>{{ page.cabecera }}</h1>
              <h2 class="subtitle">{{ page.cabecera-subtitulo }}</h2>
            </hgroup>
          </div>
          <div class="col-lg-5">
          </div>
        </div>
      </div>
    </section>
    <section class="secundaria">
      <div class="container">
      <!-- Docs nav -->
      <div class="row">
        <div class="col-lg-12">
          <hgroup>
            <h1>{{page.titulo}}</h1>
            <h2 class="subtitle">{{page.subtitulo}}</h2>
          </hgroup>
          {% for agradecimiento in page.agradecimientos %}
            <hr>
            <h3>{{agradecimiento.titulo}}</h3>
            <p class="lead">{{agradecimiento.descripcion}}</p>
            <p>{% for agradecido in agradecimiento.gracias %}{% if forloop.last %} y <span>{{agradecido}}</span>.{% else %}<span>{{agradecido}}</span>, {% endif %} {% endfor %}</p>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- include footer -->
    {% include _footer.html %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>