---
title: Agradecimientos
slug: agradecimientos
icono: icon-smile
permalink: agradecimientos/

cabecera: "¡Gracias por todo!"
cabecera-subtitulo: "El Huerto Fuensanta es posible gracias al trabajo y la colaboración de muchas personas y organizaciones"

titulo: "Fuerto Fuensanta"
subtitulo: "Este es un párrafo introductorio sobre el huerto fuenstanta puede sacarse del párrafo inicial Este es un párrafo introductorio sobre el huerto fuenstanta puede sacarse del párrafo inicial"

agradecimientos:
  
  - agradecimiento:
    titulo: "Campaña Goteo.org"
    descripcion: "Este es un párrafo introductorio sobre el huerto fuenstanta puede sacarse del párrafo inicial Este es un párrafo introductorio sobre el huerto fuenstanta puede sacarse del párrafo inicial"
    gracias: {"persona 1", "persona 2", "señor tres", "empresa 4" }

  - agradecimiento:
    titulo: "Campaña Goteo.org"
    descripcion: "Este es un párrafo introductorio sobre el huerto fuenstanta puede sacarse del párrafo inicial Este es un párrafo introductorio sobre el huerto fuenstanta puede sacarse del párrafo inicial"
    gracias: {"persona 1", "persona 2", "señor tres", "empresa 4" }


---
<html lang="es">
  <head>
  <!-- include head -->
  {% include _head.html%}
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  <!-- include navbar -->
  {% include _navbar.html %}
    <!-- Subhead -->
    <section class="cabecera confondo">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <hgroup>
              <h1>{{ page.cabecera }}</h1>
              <h2 class="subtitle">{{ page.cabecera-subtitulo }}</h2>
            </hgroup>
          </div>
          <div class="col-lg-5">
          </div>
        </div>
      </div>
    </section>
    <section class="secundaria">
      <div class="container">
      <!-- Docs nav -->
      <div class="row">
        <div class="col-lg-12">
          <hgroup>
            <h1>{{page.titulo}}</h1>
            <h2 class="subtitle">{{page.subtitulo}}</h2>
          </hgroup>
          {% for agradecimiento in page.agradecimientos %}
            <hr>
            <h3>{{agradecimiento.titulo}}</h3>
            <p class="lead">{{agradecimiento.descripcion}}</p>
            <p>{% for agradecido in agradecimiento.gracias %}<span>{{agradecido}}</span>{% endfor %}</p>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- include footer -->
    {% include _footer.html %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>