---
title: Agradecimientos
permalink: agradecimientos/
---
<html lang="en"><head>
    <meta charset="utf-8">
    <title>#huertoFuensanta · Agradecimientos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/huerto.css" rel="stylesheet">
    <link href="/css/fonts/stylesheet.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
</head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  <!-- include navbar -->
  {% include _navbar.html %}
  <!-- Subhead
  ================================================== -->
  <header class="jumbotron subhead" id="overview">
    <div class="container">
      <hgroup>
        <h1>Agradecimientos</h1>
        <h2 class="lead">El huerto fuensanta es fruto del trabajo de muchísimas personas y asociaciones.</h2>
      </hgroup>
    </div>
  </header>
    <div class="container">
      <!-- Docs nav -->
      <div class="row">
        <div class="col-lg-3 bs-docs-sidebar" >
          <ul class="nav nav-list bs-docs-sidenav affix-top" data-spy="affix" data-offset-top="200">
            <li><a href="#vela"><i class="icon-chevron-right"></i>Velá de la Fuensanta</a></li>
            <li><a href="#goteo"><i class="icon-chevron-right"></i>Campaña de Goteo.org</a></li>
            <li><a href="#donaciones"><i class="icon-chevron-right"></i>Donaciones</a></li>
            <li><a href="#colaboraciones"><i class="icon-chevron-right"></i>Colaboraciones</a></li>
          </ul>
        </div>
        <div class="col-lg-9">
          <section id="vela">
            <div class="page-header">
              <h1>Velá</h1>
            </div>
            <p class="lead">Explcación de los agradecimientos durante la velá.</p>
            <p>Aquí se detallan en modo texto las personas y asociaciones que han colaborado y por qué</p>
          </section>
          <section id="goteo">
            <div class="page-header">
              <h1>Goteo.org</h1>
            </div>
            <p class="lead">Explcación de los agradecimientos durante geoteo.org</p>
            <p>Aquí se detallan en modo texto las personas y asociaciones que han colaborado y por qué</p>
          </section>
          <section id="goteo">
            <div class="page-header">
              <h1>Otras donaciones</h1>
            </div>
            <p class="lead">Explcación de los agradecimientos otras donaciones</p>
            <p>Aquí se detallan en modo texto las personas y asociaciones que han colaborado y por qué</p>
          </section>
          <section id="colaboraciones">
            <div class="page-header">
              <h1>Otras colaboraciones</h1>
            </div>
            <p class="lead">Explcación de los agradecimientos otras colaboraciones</p>
            <p>Aquí se detallan en modo texto las personas y asociaciones que han colaborado y por qué</p>
          </section>
        </div>
      </div>
    </div>
    <!-- include footer -->
    {% include _footer.html %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>