<footer class="footer">
	<div class="container">
	    <p class="creditosTecnicos">La <a href="https://github.com/colaborativa/huertofuensanta.org"> Web Huerto Fuensanta es código abierto</a> con licencia <a href="https://github.com/colaborativa/huertofuensanta.org/blob/master/LICENSE">GNU</a>. Es una alternativa sin costes de alojamiento ni mantenimiento.  ¿Quieres utilizarla? <a href="https://github.com/colaborativa/huertofuensanta.org/blob/master/README.md">Consulta el readme para instalarla</a> ¿Quieres colaborar? <a href="https://github.com/colaborativa/huertofuensanta.org/issues">Aquí tienes la lista de tareas pendientes</a></p>
	</div>
</footer>