<meta name='robots' content='index'/>
<meta name="Description" content="{{ page.descripcion }}" />
<!-- Schema http://schema.org/docs/gs.html description max 200char images 180x120px -->
<meta itemprop="name" content="Huerto Fuensanta | {{ page.titulo }}" />
<meta itemprop="description" content="{{ page.descripcion }}" />
<meta itemprop="author" content="Huerto Fuensanta" />
<meta itemprop="url" content="http://huertofuensanta.org{{page.url}}" />
<meta itemprop="image" content="http://farm3.staticflickr.com/2841/9033255329_d094c1f4ff_m.jpg" />
<!-- OpenGraph http://ogp.me description max 150char images 160x160px-->
<meta property="og:type" content="website" />
<meta property="og:image" content="http://farm3.staticflickr.com/2841/9033255329_d094c1f4ff_m.jpg" />
<meta property="og:url" content="http://huertofuensanta.org{{page.url}}" />
<meta property="og:title" content="Huerto Fuensanta | {{ page.titulo }}" />
<meta property="og:description" content="{{ page.descripcion }}" />
<!-- TwitterCard https://dev.twitter.com/docs/cards description max 200char images 120x120px-->
<meta name="twitter:description" content="{{ page.descripcion }}" />