<script id="tpl-flickrimages" type="text/template">
 {{#flickrImages}}
   <div class="item">  -- {{ColorR}} --
        <div class="pieImagenContainer">
        <div class="pieImagen">
          <div class="imagenAutor">
            <img class="imagen" src="{{OwnerIcon}}" data-toggle="tooltip" title="{{Owner}}">
          </div>
          <div class="textoAutor" style="color: white">
            <p class="texto"><span class="titulo"> {{Titulo}}</span>. <span class="fecha">{{Fecha}}</span>. <span>{{Descripcion}}</span></p>
          </div>
          <!-- for the text color http://24ways.org/2010/calculating-color-contrast/ -->
        </div>
      </div>
      <!-- https://github.com/lokesh/color-thief -->

      <div class="mascaraColor hidden-sm" style="background: -webkit-linear-gradient(left, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0%,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 200px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 600px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 800px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 100%);"></div>

      <div class="mascaraColorPhone visible-sm" style="background: -webkit-linear-gradient(bottom, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0%,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 100px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 300px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 100%);"></div>

      <div class="image" style="background-image:url({{Nombre}})"></div>
   </div>
 {{/flickrImages}}
</script>

<script id="tpl-GoogleEvents" type="text/template">
   <div class="listaCalendario">
    <h3>Próximas actividades</h3>
    <ol>
        {{#GoogleEvents}}
        <li><time datetime="{{Fecha_Inicio}}"> {{Fecha_Inicio}}</time>{{Nombre}}{{Descripcion}} en {{Localizacion}} organizada por {{Organizador}}</li>
        {{/GoogleEvents}}
    </ol>
    <a href="{{Url_Publica}}"> Ver todo el calendario aquí </a>
  </div>
</script>