<script id="tpl-flickrimages" type="text/template">
  {{#flickrImages}}
  <div class="item" style="background-color: rgb({{ColorR}},{{ColorG}},{{ColorB}})">
    <div class="itemContenedor">
      <div class="pieImagenContainer">
        <div class="pieImagen">
          <div class="imagenAutor">
            <img class="imagen" src="{{OwnerIcon}}" data-toggle="tooltip" title="{{Owner}}" onerror="this.src = '/img/icon-default.jpg'">
          </div>
          <div class="textoAutor" style="color: {{ColorTexto}}">
            <p class="texto"><span class="titulo"> {{Titulo}}</span>. <span class="fecha">{{Fecha}}</span>. <span>{{Descripcion}}</span></p>
          </div>
        </div>
      </div>
      <!-- https://github.com/lokesh/color-thief -->
      <div class="mascaraColorPhone visible-sm" style="background: -webkit-linear-gradient(bottom, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0%,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 100px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 300px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 100%);"></div>
      <div class="mascaraColor visible-md" style="background: -webkit-linear-gradient(left, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0%, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 20px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 100px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 500px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 600px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 100%);"></div>
      <div class="mascaraColor visible-mediano" style="background: -webkit-linear-gradient(left, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0%,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 200px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 500px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 580px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 100%);"></div>
      <div class="mascaraColor visible-grande" style="background: -webkit-linear-gradient(left, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0%, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 20px, rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 200px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 600px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 800px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 100%);"></div>
      <div class="image" style="background-image:url({{Nombre}})"></div>
      <img class="lazy-load" src="" lazy-load-src="{{Nombre}}" style="display: none"> </img>
    </div>
  </div>
  {{/flickrImages}}
</script>

<script id="tpl-GoogleActivities" type="text/template">
   <div class="listaCalendario">
    <h3>{{TituloLista}}</h3>
    <ol id="accordion">
      {{#GoogleActivities}}
      <li class="accordion-group lista">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{Indice}}">
          <time>{{Fecha_Rango}}</time> {{Nombre}}: {{Descripcion}} en {{Localizacion}} organizada por {{Organizador}}
        </a>
        <div id="collapse{{Indice}}" class="collapse">
            <p>{{Descripcion}} organizada por {{Organizador}}</p>
        </div>
      </li>
      {{/GoogleActivities}}
    </ol>
  </div>
</script>

<script id="tpl-CabeceraSegundoNivel" type="text/template">
<!-- 

JAVI: Falta incluir {{ColorTexto}} en el texto asociado a la imagen, ya está calculado el color. 
El tema es que se encuentra fuera de itemContenedor, cambia la estructura del HTML para que este dentro.

-->
  <div class="item" style="background-color: rgb({{ColorR}},{{ColorG}},{{ColorB}})">
    <div class="itemContenedor">
      <div class="mascaraColorPhone visible-sm" style="background: -webkit-linear-gradient(top, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0%,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 180px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 350px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 100%);"></div>
      <div class="mascaraColor visible-md" style="background: -webkit-linear-gradient(right, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0%, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 0px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 280px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 450px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 100%);"></div>
      <div class="mascaraColor visible-mediano" style="background: -webkit-linear-gradient(right, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0%,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 0px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 450px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 580px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 100%);"></div>
      <div class="mascaraColor visible-grande" style="background: -webkit-linear-gradient(right, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 0%, rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 20px, rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 200px,rgba({{ColorR}},{{ColorG}},{{ColorB}},0) 600px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 800px,rgba({{ColorR}},{{ColorG}},{{ColorB}},1) 100%);"></div>
      <div class="image" style="background-image:url({{Nombre}})"></div>
      <img class="lazy-load" src="" lazy-load-src="{{Nombre}}" style="display: none"> </img>
      <script>
        $('#titulo').find('h1').attr('style','color: {{ColorTexto}}');
        $('#titulo').find('h2').attr('style','color: {{ColorTexto}}; opacity: 0.7');
      </script>
    </div>
  </div>     
</script>

