<script id="tpl-flickrimages" type="text/template">
 {{#flickrImages}}
   <div class="item">
      <div class="pieImagenContainer">
        <div class="pieImagen">
          <div class="textoAutor" style="color: white">
            <p class="texto"><span class="titulo">{{Titulo}}</span>. <span class="fecha">{{Fecha}}</span>. <span>{{Descripcion}}</span></p>
          </div>
          <!-- for the text color http://24ways.org/2010/calculating-color-contrast/ -->
          <div class="imagenAutor">
            <div class="imagen" style="background-image:url({{OwnerIcon}})" data-toggle="tooltip" title="{{Owner}}"></div>
          </div>
        </div>
      </div>
      <!-- https://github.com/lokesh/color-thief -->
      <div class="mascaraColor" style="background: -webkit-linear-gradient(left, rgba(128,128,128,1) 0%,rgba(128,128,128,0) 200px,rgba(128,128,128,0) 600px,rgba(128,128,128,1) 800px,rgba(128,128,128,1) 100%);"></div>
      <div class="image" style="background-image:url({{Nombre}})"></div>
   </div>
 {{/flickrImages}}
</script>

<script id="tpl-GoogleEvents" type="text/template">
   <div class="listaCalendario">
    <h3>Próximas actividades</h3>
    <ol>
        {{#GoogleEvents}}
        <li><time datetime="{{Fecha_Inicio}}">{{Fecha_Inicio}}</time>{{Nombre}}{{Descripcion}} en {{Localizacion}} organizada por {{Organizador}}</li>
        {{/GoogleEvents}}
    </ol>
    <a>Ver todo el calendario aquí</a>
  </div>
</script>