<html lang="es">
  <head>
  <!-- include head -->
  {% include _head.html%}
  </head>
  <body data-spy="scroll" data-target=".bs-docs-sidebar">
  <!-- include navbar -->
  {% include _navbar.html %}
    <!-- Subhead -->
    <section class="cabecera confondo">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-sm-6">
            <hgroup>
              <h1>{{ page.cabecera }}</h1>
              <h2 class="subtitle">{{ page.cabecera-subtitulo }}</h2>
            </hgroup>
          </div>
          <div class="col-lg-5 col-sm-6">
          </div>
        </div>
      </div>
      <!-- Template tpl-flickrimages AQUI! -->
      <div class="imagenfondo" id="tpl-CabeceraSegundoNivel"></div>
    </section>
    <section class="secundaria">
      <div class="container">
        <!-- Docs nav -->
        <div class="row">
          <div class="col-lg-3">
            <div class="barralateral">
              <ul class="nav nav-stacked">
                {% for navegacion in page.navegacion %}
                <li><a href="{{ navegacion.url }}">{{ navegacion.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="col-lg-9">
            <hgroup>
              <h1>{{page.titulo}}</h1>
              <h2 class="subtitle">{{page.subtitulo}}</h2>
            </hgroup>
            {{content}}
          </div>
        </div>
      </section>
    </div>
    <!-- include footer -->
    {% include _footer.html %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ page.base_url }}js/jquery.js"></script>
        <!-- Dependencias de Google - Flickr - mustache (handlebars)-->
    <script src='https://www.google.com/jsapi'></script>
    <script src="{{ page.base_url }}js/reqwest.js"></script>
    <script src="{{ page.base_url }}js/handlebars.js"></script>
    <script src="{{ page.base_url }}js/6_comunes_headers.js"></script>
    <script src="{{ page.base_url }}js/5_comunes.js"></script>
    <script src="{{ page.base_url }}js/1_informacion.js"></script>
  </body>
</html>