<html lang="es">
  <head>
  <!-- include head -->
  {% include _head.html%}
  </head>
  <body>
  <!-- include navbar -->
  {% include _navbar.html %}
    <!-- Subhead -->
    <section class="cabecera confondo">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <hgroup>
              <h1>{{ page.cabecera }}</h1>
              <h2 class="subtitle">{{ page.cabecera-subtitulo }}</h2>
            </hgroup>
          </div>
          <div class="col-lg-5">
          </div>
        </div>
      </div>
    </section>
    <section class="secundaria">
      <div class="container">
        <!-- Docs nav -->
        <div class="row">
          <div class="col-lg-7">
            <hgroup>
              <h1>{{page.titulo}}</h1>
              <h2 class="subtitle">{{page.subtitulo}}</h2>
            </hgroup>
            <div class="listaCalendario">
              <!-- Template tpl-GoogleEvents pero incluyendo las actividades pasadas añadiendole la class .pasada -->
              <h3>Todas las actividades Huerto Fuensanta</h3>
              <ol>
                <li class="actividad" toggle="popover" data-trigger="click" data-title="creando mobiliario para el Huerto" data-content="A partir de material reciclado vamos a construir asientos en huerto en  organizada por Javi y Magda" data-placement="bottom" data-original-title="" title=""><time>[Fecha pendiente] </time> creando mobiliario para el Huerto: A partir de material reciclado vamos a construir asientos en huerto en  organizada por Javi y Magda</li>
                
                <li class="actividad" toggle="popover" data-trigger="click" data-title="del huerto a la cocina" data-content="recetas fáciles y saludables con productos de la huerta en  organizada por Paco" data-placement="bottom" data-original-title="" title=""><time>junio 9, 20:00 - 21:00</time> del huerto a la cocina: recetas fáciles y saludables con productos de la huerta en  organizada por Paco</li>
                
                <li class="actividad" toggle="popover" data-trigger="click" data-title="Actividad de prueba" data-content="Descripción de prueba en  organizada por Hortelano" data-placement="bottom" data-original-title="" title=""><time>[Fecha pendiente] </time> Actividad de prueba: Descripción de prueba en  organizada por Hortelano</li>
                
                <li class="actividad" toggle="popover" data-trigger="click" data-title="Actividad de prueba" data-content="Descripción de prueba en  organizada por Hortelano" data-placement="bottom" data-original-title="" title=""><time>[Fecha pendiente] </time> Actividad de prueba: Descripción de prueba en  organizada por Hortelano</li>
                
                <li class="actividad" toggle="popover" data-trigger="click" data-title="Actividad de prueba" data-content="Descripción de prueba en  organizada por Hortelano" data-placement="bottom" data-original-title="" title=""><time>[Fecha pendiente] </time> Actividad de prueba: Descripción de prueba en  organizada por Hortelano</li>
                
                <li class="actividad" toggle="popover" data-trigger="click" data-title="Actividad de prueba" data-content="Descripción de prueba en  organizada por Hortelano" data-placement="bottom" data-original-title="" title=""><time>[Fecha pendiente] </time> Actividad de prueba: Descripción de prueba en  organizada por Hortelano</li>
                
                <li class="actividad pasada" toggle="popover" data-trigger="click" data-title="Actividad de prueba" data-content="Descripción de prueba en  organizada por Hortelano" data-placement="bottom" data-original-title="" title=""><time>[Fecha pendiente] </time> Actividad de prueba: Descripción de prueba en  organizada por Hortelano</li>

                <li class="actividad pasada" toggle="popover" data-trigger="click" data-title="Actividad de prueba" data-content="Descripción de prueba en  organizada por Hortelano" data-placement="bottom" data-original-title="" title=""><time>[Fecha pendiente] </time> Actividad de prueba: Descripción de prueba en  organizada por Hortelano</li>
                
                <li class="actividad pasada" toggle="popover" data-trigger="click" data-title="Actividad de prueba" data-content="Descripción de prueba en  organizada por Hortelano" data-placement="bottom" data-original-title="" title=""><time>[Fecha pendiente] </time> Actividad de prueba: Descripción de prueba en  organizada por Hortelano</li>
                
                <li class="actividad pasada" toggle="popover" data-trigger="click" data-title="Actividad de prueba" data-content="Descripción de prueba en  organizada por Hortelano" data-placement="bottom" data-original-title="" title=""><time>[Fecha pendiente] </time> Actividad de prueba: Descripción de prueba en  organizada por Hortelano</li>
                
                <li class="actividad pasada" toggle="popover" data-trigger="click" data-title="Actividad de prueba" data-content="Descripción de prueba en  organizada por Hortelano" data-placement="bottom" data-original-title="" title=""><time>[Fecha pendiente] </time> Actividad de prueba: Descripción de prueba en  organizada por Hortelano</li>
              </ol>
            </div>
          </div>
          <div class="col-lg-5">
            {{ content }}
            <div class="boton">
              <a href="{{page.boton-calendario-actividades.url}}" class="btn btn-lg btn-block btn-default"><i class="icon-calendar icon-large"></i>{{page.boton-calendario-actividades.titulo}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- include footer -->
    {% include _footer.html %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ page.base_url }}js/jquery.js"></script>
        <!-- Dependencias de Google y flickr  -->
    <script src='https://www.google.com/jsapi'></script>
    <script src="{{ page.base_url }}js/reqwest.js"></script>
    <script src="{{ page.base_url }}js/5_comunes.js"></script>
    <script src="{{ page.base_url }}js/3_actividades.js"></script>
  </body>
</html>