<html lang="es">
  <head>
  <!-- include head -->
  {% include _head.html%}
  </head>
  <body>
  <!-- include navbar -->
  {% include _navbar.html %}
    <!-- Subhead -->
    <section class="cabecera confondo">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 col-sm-6">
            <hgroup id="titulo">
              <h1>{{ page.cabecera }}</h1>
              <h2 class="subtitle">{{ page.cabecera-subtitulo }}</h2>
            </hgroup>
          </div>
          <div class="col-lg-5 col-sm-6">
          </div>
        </div>
      </div>
      <!-- Template tpl-flickrimages AQUI! -->
      <div class="imagenfondo" id="tpl-CabeceraSegundoNivel"></div>
    </section>
    <section class="secundaria">
      <div class="container">
        <!-- Docs nav -->
        <div class="row">
          <div class="col-lg-7">
            <hgroup>
              <h1>{{page.titulo}}</h1>
              <h2 class="subtitle">{{page.subtitulo}}</h2>
            </hgroup>
            <!-- Template tpl-GoogleEvents AQUI! limitando a las ultimas 5 actividades -->
            <div id="actividadesTpl"></div> 
            <div class="boton">
              <div class="visible-sm">
              </div>
            </div>

          </div>
          <div class="col-lg-5">
            <h4>{{ page.contenido.como.header }}</h4>
            {{ page.contenido.como.content | markdownify }}
            <div class="boton">
              <a href="{{page.boton-calendario-actividades.url}}" class="btn btn-lg btn-block btn-default"><i class="icon-calendar icon-large"></i>{{page.boton-calendario-actividades.titulo}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- include footer -->
    {% include _footer.html %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ page.base_url }}js/jquery.js"></script>
    <script src="{{ page.base_url }}js/bootstrap.js"></script>
    <script src="{{ page.base_url }}js/vendor/moment.min.js"></script>
    <script src="{{ page.base_url }}js/vendor/twix.min.js"></script>
    <script src="{{ page.base_url }}js/vendor/lang/es.js"></script>
        <!-- Dependencias de Google y flickr  -->
    <script src='https://www.google.com/jsapi'></script>
    <script src="{{ page.base_url }}js/reqwest.js"></script>
    <script src="{{ page.base_url }}js/handlebars.js"></script>
    <script src="{{ page.base_url }}js/6_comunes_headers.js"></script>
    <script src="{{ page.base_url }}js/5_comunes.js"></script>
    <script src="{{ page.base_url }}js/3_actividades.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-20377945-11', 'huertofuensanta.org');
      ga('send', 'pageview');
    </script>
  </body>
</html>